<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "favicon.html" %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% include 'tokaido/script1.html' %}
        <link href="https://fonts.googleapis.com/css?family=Abel|Antic+Slab|VT323&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/6bf4161487.js"></script>
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    
    <body class="pages-body tokaido light-mode">
        <div class="pages-body" id="pages-loader">
            <header class="top">
                <div class="top-greet-pages">
                    <h1 class="map-title" id="map-title-eng">urban<br>hiking<br>the</h1>
                    <h1 class="map-title" id="map-title-jpn">東海道</h1>
                    <div class="map-intro">
                        <p>
                            {{ day_entries[0].entry|safe }}
                        </p>
                    </div>
                    <h2 class="map-instructions" id="instruct-left">
                        <i class="fas fa-arrow-circle-up up"></i>
                        <br>scroll<br>
                        <i class="fas fa-arrow-circle-down down"></i>
                    </h2>
                    <h2 class="map-instructions" id="instruct-right">
                        <i class="fas fa-arrow-circle-up up"></i>
                        <br>
                        <i class="fas fa-arrow-circle-left left"></i>
                        move map
                        <i class="fas fa-arrow-circle-right right"></i>
                        <br>
                        <i class="fas fa-arrow-circle-down down"></i>
                    </h2>
                </div>
                {% include 'tokaido/nav.html' %}
            </header>
        </div>
        
        {% block content %}        
        {% endblock %}

        {% include 'tokaido/script2.html' %}
    </body>
</html>