<nav class="nav" id="navbar">
    <ul class="nav-list" id="menu">
        <li><a href="/" class="menu-list">home</a></li>
        <li><a href="/#about" class="menu-list">about</a></li>
        <li><a href="/gallery" class="menu-list">gallery</a></li>
        <li><a href="/projects" class="menu-list">projects</a></li>
    </ul>
    <h2 class="nav-buttons" id="menu-buttons">
        
        <i class="fas fa-angle-left" id="menu-open"></i>
        <i class="fas fa-times" id="menu-close"></i>
    </h2>
    <div class="theme-toggle-wrapper">
        <label for="checkbox" class="theme-toggle">
            <input type="checkbox" id="checkbox">
            <div class="slider round">
                <div class="tooltip">
                    <span class="tooltiptext">Theme toggle</span>
                </div>
            </div>
        </label>
    </div>
</nav>