.Dashboard {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    justify-items: center;
}



@media screen and (orientation: landscape) 
  and (max-width: 5000px) {
}
.Dashboard.screen_4k {
}



@media screen and (orientation: landscape) 
  and (max-width: 2800px) {
   
}
.Dashboard.screen_1440 {
}



@media screen and (orientation: landscape) 
  and (max-width: 2000px) {

}
.Dashboard.screen_1080 {
}




@media screen and (orientation: landscape) 
  and (max-width: 1700px) {

}
.Dashboard.portable_hd_land {
}



.Dashboard.portable_hd_port {
}



@media screen and (orientation: portrait) {

}
.Dashboard.portrait {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    height: 100%;
    column-gap: 0.5rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 8% 50% 42%;
}