<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="{{ url_for('static', filename='dist/css/404.css') }}" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abel|Antic+Slab|VT323&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/6bf4161487.js"></script>
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body class="pages-body"></body>
        <div class="pages-body" id="pages-loader">
            <header class="top">
                <div class="top-greet-pages">
                    <h1 id="greeting">Welcome.</h1>
                </div>
                {% include 'nav.html' %}
            </header>
            <section class="pages-section">
                <div class="pages-container">
                    <div class="pages-figure-container">
                        <figure>
                            <div id="notfound-img"></div>
                            <figcaption id="notfound-txt">
                                Page doesn't exist, head back!
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </section>
        </div>
        <script src="{{ url_for('static', filename='dist/js/404.js') }}"></script>
    </body>
</html>