/* TimelineBar container */
.TimelineBar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    align-items: center;
    grid-template-columns: 6.5rem var(--month-column);
    grid-template-rows: 3.5rem auto;
    column-gap: 1.5rem;
    user-select: none;
    z-index: 2;
}

/* Year selector container */
.TimelineBar__year-selector {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    color: var(--colour-text-inactive);
    font-size: 2.85rem;
    list-style: none;
    overflow: hidden;
}

    .TimelineBar__year-selector:hover {
        cursor: pointer;
        overflow: visible;
    }
     
        /* Hovering on year selector extends list of years */
        .TimelineBar__year-selector:hover
        > .TimelineBar__year-item {
            cursor: pointer;
            overflow: visible;
            display: inline-block;
            grid-column: auto;
            width: 6rem;
            animation-name: list-drawer-fade-in;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }

            @keyframes list-drawer-fade-in {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 100%;
                }
            }

    /* Selected year: main element that's always visible */
    .TimelineBar__year-selected {
        display: inline-block;
        color: var(--colour-text-inactive);
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        align-self: center;
    }

        .TimelineBar__year-selected:hover {
            cursor: ns-resize;
        }
