/* Year items in menu drawer */
.TimelineBar__year-selector li {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.TimelineBar__year-item {
    display: none;
    align-self: flex-start;
    pointer-events: all;
    transition: 350ms all;
}

    .TimelineBar__year-item__link {
        text-decoration: none;
        font-family: 'Barlow Semi Condensed', sans-serif;
        color: var(--colour-text-inactive);
        font-size: 2.85rem;
    }

        .TimelineBar__year-item__link:visited {
            color: var(--colour-text-inactive);
        }

        .TimelineBar__year-item__link.active {
            color: var(--colour-accent-primary);
            transition: 350ms all;
        } 

        .TimelineBar__year-item__link:hover {
            color: var(--colour-accent-secondary);
            transition: 350ms all;
        }

    .TimelineBar__year-item:hover {
        color: var(--colour-accent-secondary);
        transition: 350ms all;
    }

    .TimelineBar__year-item.active {
        color: var(--colour-accent-primary);
        transition: 350ms all;
    }