.Sidebar_regions_item {
    display: grid;
    grid-template-columns: auto 1.2rem;
    grid-template-rows: 100%;
    column-gap: 0.3rem;
    min-height: 1.2rem;
    max-height: 1.2rem;
    margin-bottom: 0.5rem;
    animation-name: slide-down;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
}
@keyframes slide-down {
    0% {
        height: 0rem;
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        height: 1.25rem;
        opacity: 1;
    }
}

.Sidebar_regions_item_name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: none;
    background: none;
    padding-right: 0.25rem;
    color: var(--options-font-inactive);
    font-family: "Hina Mincho", serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: end;
    align-self: center;
    cursor: zoom-in;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.10rem;
    text-decoration-color: transparent;
}

/* Region item button */
.Sidebar_regions_item_name:hover,
.Sidebar_regions_item_name.toggle {
    color: #ffffff;
    border-radius: 0.15rem;
    background-color: var(--titles-font-colour-fade);
    transition: background-color 300ms;
}

/* Underline region name on checkbox hover */
.Sidebar_regions_item_checkbox.available:hover
    ~ .Sidebar_regions_item_name.available {
        animation-name: draw-underline;
        animation-duration: 400ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
}

@keyframes draw-underline {
    0% {
        text-decoration-thickness: 0.10rem;
    }

    75% {
        text-decoration-thickness: 0.12rem;
    }

    100% {
        text-decoration-thickness: 0.35rem;
        text-decoration-color: var(--extra-highlight);
    }
}



/* Grey-out items that aren't in the data set (passive filtering) */
.Sidebar_regions_item_name.unavailable {
    opacity: 0.15;
    cursor: not-allowed;
    user-select: none
}
.Sidebar_regions_item_name.unavailable:hover {
    opacity: 0.25;
    background-color: dimgrey;
    transition: background-color 300ms;
}

/* Checkbox positioning */
.Sidebar_regions_item_checkbox {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    width: 1.2rem;
    height: 1.2rem;
    align-self: baseline;
    justify-self: end;
    transition: background-color 300ms;
}
.Sidebar_regions_item_checkbox.unavailable {
    display: none;
}
.Sidebar_regions_item_checkbox:hover {
    color: #ffffff;
    border-radius: 0.15rem;
    background-color: var(--extra-highlight);
}
/* Hide default checkbox */
.Sidebar_regions_item_checkbox input {
    display: none;
    grid-column: 1;
}

/* Checkbox custom styling */
.Sidebar_regions_item_checkbox_overlay {
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    opacity: 0.7;
    justify-self: right;
    align-self: center;
    border: double 0.2rem var(--options-font-inactive);
    transition: background-color 300ms;
    cursor: pointer;
}

.Sidebar_regions_item_checkbox input:checked 
    ~ .Sidebar_regions_item_checkbox_overlay {
        background-color: var(--options-font-active);
        opacity: 0.70;
        transition: background-color 300ms;
}
.Sidebar_regions_item_checkbox input:checked 
    ~ .Sidebar_regions_item_checkbox_overlay:hover {
        background-color: #cdcdcd;
        transition: background-color 300ms;
}


.Sidebar_regions_item.en {
}


/* ----------------------------------
            Media queries
-----------------------------------*/
@media screen and (orientation: landscape) 
  and (max-width: 5000px) {
}
.Sidebar_regions_item.screen_4k {
}



@media screen and (orientation: landscape) 
  and (max-width: 2800px) {
   
}
.Sidebar_regions_item.screen_1440 {
}



@media screen and (orientation: landscape) 
  and (max-width: 2000px) {

}
.Sidebar_regions_item.screen_1080 {
}




@media screen and (orientation: landscape) 
  and (max-width: 1700px) {

}
.Sidebar_regions_item.portable_hd_land {
}



.Sidebar_regions_item.portable_hd_port {
}



@media screen and (orientation: portrait) {

}
.Sidebar_regions_item.portrait {

}