/* ------------------------------------------------------------------ */
/*                         Media responsiveness                       */
/* ------------------------------------------------------------------ */


/* High DPI 4K display desktops ==================================== */
/* ================================================================== */
@media screen and (orientation:landscape) and 
    (min-width: 3800px) {
    /* Main Mapbox geocoder search box */
    .mapboxgl-ctrl-geocoder {
        bottom: 21vh !important;
        right: 1.5vw !important;
        min-width: 100px !important;
        height: 5vh !important;
        line-height: 2rem !important;
    }
   
    /* Placeholder text */
    .mapboxgl-ctrl-geocoder--input {
        /* margin-left: 6.5rem !important; */
        /* font-size: 3rem !important; */
    }
    /* Search results */
    /* Default results list */
    .mapboxgl-ctrl-geocoder .suggestions {
        /* font-size: 3rem !important; */
    }

    /* Popups */
    .mapboxgl-popup {
        font-size: 1rem !important;
    }
    .mapboxgl-popup-content {
        line-height: 1rem;
        padding: 0.5rem !important;
    }
}





/* High DPI 2K+ display desktops ==================================== */
/* ================================================================== */
@media screen and (orientation:landscape) and 
    (min-width: 1600px) and 
    (max-width: 3800px) {
   
    /* Main Mapbox geocoder search box */
    .mapboxgl-ctrl-geocoder {
        right: 1.5vw !important;
        min-width: 100px !important;
        height: 5vh !important;
        line-height: 2rem !important;
    }
    
    
    /* Placeholder text */
    .mapboxgl-ctrl-geocoder--input {
        /* margin-left: 4.5rem !important; */
        /* font-size: 2.25rem !important; */
    }

    /* Search results */
    /* Default results list */
    .mapboxgl-ctrl-geocoder .suggestions {
        /* font-size: 2.25rem !important; */
    }

    /* Popups */
    .mapboxgl-popup {
        font-size: 1rem !important;
    }
    .mapboxgl-popup-content {
        line-height: 1rem;
        padding: 0.5rem !important;
    }
}
}



/* 1400+ normal DPI desktops ========================================= */
/* =================================================================== */
@media screen and (orientation:landscape) and (min-height: 1400px) {
  
}




/* 1100-1350 normal DPI desktops/laptops ============================== */
/* ==================================================================== */
@media screen and (orientation:landscape) and (min-height: 1100px) and (max-height: 1350px) {

}




/* Under 1920px width screens =========================================== */
/* ====================================================================== */
@media screen and (orientation:landscape) and (min-width: 900px) and (max-width: 1600px) {

     /* Main Mapbox geocoder search box */
     .mapboxgl-ctrl-geocoder {
        bottom: 18vh !important;
        right: 1.5vw !important;
        min-width: 100px !important;
        width: 22vw !important;
        height: 5vh !important;
        line-height: 2rem !important;
    }
    
    /* Search icon and placeholder text */
    .mapboxgl-ctrl-geocoder--icon {
        width: 1.75rem !important;
        height: 1.75rem !important;
        left: 0.3rem !important;
    }
    /* Placeholder text */
    .mapboxgl-ctrl-geocoder--input {
        margin-left: 2.25rem !important;
        font-size: 1.25rem !important;
    }

    /* Search results */
    /* Default results list */
    .mapboxgl-ctrl-geocoder .suggestions {
        font-size: 1rem !important;
    }
    
    #detached-icon, 
    #condo-icon {
        width: 3rem;
        height: 3rem;
    }

    @keyframes filterSheath {
        0% {
            left: 0;
            background-color: var(--background);
        }
        100% {
            left: -21vw;
            background-color: var(--transparent);
        }
    }
    @keyframes filterUnsheath {
        0% {
            left: -21vw;
        }
        100% {
            left: 0;
        }
    }
    .filter-menu .filter-options-container {
        row-gap: 1rem;
    }
    .filter-options {
        font-size: 1.25rem;
    }
    .filter-options.box-footage .radio-list {
        column-gap: 1.5rem;
    }
    .filter-options.box-age .radio-list {
        column-gap: 1.25rem;
    }
    .radio-list {
        padding-top: 0.5rem;
    }
    .radio-item {
        font-size: 0.8rem;
    }
    .radio-text {
        padding-left: 0.8rem;
    }
    /* #sqm {
        font-size: 2rem;
    } */

        .submit-parameters-check {
            font-size: 0.75rem;
            padding: 1.5rem 1.5rem 0rem 1.5rem;
        }

        #price-gauge {
            font-size: 0.8rem;
            left: 1rem;
        }
       
        #search-stats {
            bottom: -6.5vh;
            font-size: 1rem;
        }
    
}



@media screen and (orientation:landscape) and (min-width: 900px) and (max-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1.5) {

    .mapboxgl-ctrl-geocoder .suggestions {
        font-size: 1.25rem !important;
    }   

    .filter-options {
        font-size: 1.5rem;
    }

    .radio-item {
        font-size: 1rem;
    }

    .submit-parameters-check {
        font-size: 0.85rem;
    }
}




/* Mobile & tablet ======================================================== */
/* Portrait mode ========================================================== */
@media screen and (orientation:portrait) and 
(-webkit-min-device-pixel-ratio: 1.5) {
    /* Mobile portrait view height */
    /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
    
    .nav {
        right: 0;
        top: 0;
        width: 100%;
        justify-content: flex-start;
    }
    .nav-list a {
        font-size: 1.35rem;
        text-align: center;
        width: 100%;
    }
    .nav-list li {
        display: flex;
        padding-left: 0;
        padding-right: 0;
    }
    #menu.slide-toggle {
        margin-top: 0;
        margin-right: 0;
        width: 90vw;
        background: var(--background);
    }
    #menu.slide-toggle a {
        width: 100%;
        padding: 0.3rem 0 0.3rem 0;
    }
    #menu-buttons {
        font-size: 2rem;
        right: 2vw;
    }
   

    .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
        display: none !important;
    }
    /* Main Mapbox geocoder search box */
    .mapboxgl-ctrl-geocoder {
        /* bottom: calc(13 * var(--vhp)) !important; */
        bottom: 13vh !important;
        right: 0 !important;
        min-width: 100px !important;
        width: 50vw !important;
        /* height: calc(4 * var(--vhp)) !important; */
        height: 4vh !important;
        line-height: 1rem !important;
    }
    
    /* Search icon and placeholder text */
    .mapboxgl-ctrl-geocoder--icon {
        width: 2rem !important;
        height: 2rem !important;
        /* left: 1rem !important; */
    }
    /* Search icon */
    .mapboxgl-ctrl-geocoder--icon-search {
        position: unset !important;
        top: 0 !important;
    }
    /* Placeholder text */
    .mapboxgl-ctrl-geocoder--input {
        margin-left: 0.2rem !important;
        font-size: 1rem !important;
        padding: 0 !important;
    }

    /* Search results */
    /* Default results list */
    .mapboxgl-ctrl-geocoder .suggestions {
        font-size: 0.85rem !important;
    }
    .mapboxgl-ctrl-geocoder--suggestion-title {
        margin-bottom: 0.4rem !important;
    }
    /* X button */
    .mapboxgl-ctrl-geocoder--icon-close {
        margin-top: unset !important;
        margin-right: unset !important;
        width: 1rem !important;
        height: 1rem !important;
    }

    
    #filter-form {
        grid-column-end: 9;
        z-index: 2;
    }
    .radio-home-type {
        margin-top: 0rem;
    }
    #detached-icon, 
    #condo-icon {
        width: 3rem;
        height: 3rem;
    }

    @keyframes filterSheath {
            
        0% {
            left: 0;
            background-color: var(--background);
        }
        100% {
            left: -87vw;
            background-color: var(--transparent);
        }
    }
    @keyframes filterUnsheath {
        0% {
            left: -87vw;
        }
        100% {
            left: 0;
        }
    }
    #filter-menu {
        grid-template-rows: 12% 65% 23%;
    }
    .filter-menu .filter-options-container {
        row-gap: 2rem;
    }
    .filter-menu .filter-home-type {
        font-size: 1.5rem;
    }
    .filter-options {
        font-size: 1.25rem;
    }
    .category-title {
        margin-top: 0.75rem;
    }
    .radio-list {
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        row-gap: 0.35rem;
    }
    .radio-item {
        font-size: 0.9rem;
    }
    .radio-text {
        padding-left: 1.5rem;
    }
    .filter-menu .filter-home-type {
        font-size: 1.5rem;
    }
    .filter-options.box-footage .radio-list {
        /* column-gap: 2rem; */
        column-gap: 5vw;
    }
    .filter-options.box-age .radio-list {
        /* column-gap: 1rem; */
        column-gap: 4vw;
    }
    .radio-item input:checked ~ .radio-text:after {
        top: -0.5rem;
        left: -0.15rem;
        animation-name: spriteWiggle;
        animation-delay: 0ms;
        animation-duration: 750ms;
        animation-timing-function: ease-out;
    }
        @keyframes spriteWiggle {
            0% {
                transform: translateX(-4px) rotateY(180deg);
            }
            30% {
                transform: translateX(6px) rotateY(180deg);
            }
            100% {
                transform: translateX(0px) rotateY(180deg);
            }
        }
        .radio-text:before {
            width: 1.5rem;
            opacity: 0.65;
            border-bottom: 1px dashed var(--options-font-inactive);
            transition: all 750ms ease;
            -moz-transition: all 750ms ease;
            -webkit-transition: all 750ms ease;
        }
        .radio-item input:focus ~ .radio-text:before {
            border-bottom: 1px solid;
        }
        .filter-submit button {
            margin-bottom: -2rem;
        }
        .fas.fa-search {
            font-size: 3rem;
        }
        .submit-parameters-check {
            font-size: 0.65rem;
            padding: 3rem 2rem 2rem 2rem;
        }
        
        #submit-tooltip-text {
            font-size: 1.25rem;
            margin: 2rem;
            border-radius: 1rem;
            padding: 14px 20px 14px 20px;
        }
        #submit-tooltip-text:after {
            border: 1.5rem solid transparent;
            border-left-color: var(--options-font-inactive);
            border-right: 0;
            border-bottom: 0;
            margin-top: -0.75rem;
            margin-right: -1.3rem;
        }
        
        #citation,
        #mail {
            width: 1.5rem;
            height: 1.5rem;
        }
        .citation-info,
        .mail-info {
            justify-content: flex-end;
            left: unset;
            right: 10vw;
            bottom: 11vh;
        }
        #citation-box.toggle,
        #mail-box.toggle {
            justify-content: flex-start;
            right: unset;
            left: 12vw;
        }
        #citation-info-text,
        #mail-info-text {
            padding-top: 0.5rem;
            font-size: 0.85rem;
        }
        #citation-info-text.showVerticalOpen {
            left: unset;
            right: unset;
        }
        #mail-info-text.showVerticalOpen {
            left: unset;
            right: unset;
        }
        #collapse {
            width: 2.25rem;
            height: 2.25rem;
            right: -0.6rem;
        }
            #collapse.close {
                transform: translateX(-0.55rem) rotate(0deg);
            }

        #price-gauge {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 7;
            left: 4vw;
            height: 100%;
            width: 70%;
            font-size: 0.75rem;
        }
        #price-gauge.slide {
            transform: translateX(-25.5vw);
        }

        #search-stats {
            /* top: calc(6 * var(--vhp)); */
            top: 6vh;
            bottom: unset;
            justify-content: flex-start;
            left: 4vw;
            height: 60%;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .stats-box {
            margin-right: unset;
            margin-left: unset;
            font-size: 0.75rem;
            display: grid;
        }
        .stats-icon {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .stats-param {
            grid-column-start: 2;
            grid-column-end: 3;
        }
        #stats-home {
            grid-row-start: 5;
            grid-row-end: 6;
        }
        #stats-puffer,
        #param-footage {
            grid-row-start: 1;
            grid-row-end: 2;
        }
        #stats-turtle,
        #param-age {
            grid-row-start: 2;
            grid-row-end: 3;
        }
        #stats-dog,
        #param-station {
            grid-row-start: 3;
            grid-row-end: 4;
        }
        #stats-bee,
        #param-mtrl {
            grid-row-start: 4;
            grid-row-end: 5;
        }
        #dashboard {
            grid-column-start: 3;
            grid-column-end: 9;
            grid-row-start: 8;
            grid-row-end: 9;
            align-items: flex-end;
            width: 100%;
            height: 100%;
        }
        .info-box {
            display: grid;
            position: relative;
            bottom: 0;
            right: 0;
            width: 50vw;
            height: 100%;
            padding-bottom: 0;
            font-size: 0.95rem;
        }
        .info-text {
            right: unset;
            padding-left: 0.5rem;
            border-bottom: 2px dashed var(--background);
        }
        .info-data {
            padding-right: 0.5rem;
        }
}


/* Mobile, smaller screens ================================================ */
/* Portrait mode ========================================================== */
@media screen and (orientation:portrait) and (min-height: 700px) and 
(-webkit-min-device-pixel-ratio: 1.5) {
    /* Main Mapbox geocoder search box */
    .mapboxgl-ctrl-geocoder {
        /* bottom: calc(12 * var(--vhp)) !important; */
        bottom: 12vh !important;
    }

    .nav-list a {
        font-size: 1.4rem;
    }
   
    .mapboxgl-ctrl-geocoder {
       /* bottom: calc(11 * var(--vhp)) !important; */
       bottom: 11vh !important;
       line-height: 0.9rem !important;
    }
    
    .radio-item {
        font-size: 1rem;
    }
    

    
}

/* Mobile, smaller screens ================================================ */
/* Portrait mode ========================================================== */
@media screen and (orientation:portrait) and (min-width: 400px) and 
(-webkit-min-device-pixel-ratio: 1.5) {
    .filter-options.box-footage .radio-list {
        column-gap: 8vw;
    }
    .filter-options.box-age .radio-list {
        column-gap: 6vw;
    }

}

/* Mobile, smaller screens ================================================ */
/* Portrait mode ========================================================== */
@media screen and (orientation:portrait) and (max-width: 500px) and (min-height: 800px) and 
(-webkit-min-device-pixel-ratio: 1.5) {
    .mapboxgl-ctrl-geocoder {
        /* bottom: calc(12 * var(--vhp)) !important; */
        bottom: 12vh !important;
        line-height: 1.25rem !important;
    }
    .mapboxgl-ctrl-geocoder .suggestions {
        font-size: 0.85rem !important;
    }
    
    .nav {
        right: 1vw;
    }
    .nav-list a {
        font-size: 1.75rem;
    }
    .filter-menu .filter-home-type {
        margin-top: 0;
        margin-bottom: 0;
    }

    .submit-parameters-check {
        font-size: 0.8rem;
    }

    .citation-info,
    .mail-info {
        bottom: 9vh;
    }
        
    .info-box {
        font-size: 1rem;
    }
}



/* Mobile, tablet ========================================================= */
/* Portrait mode ========================================================== */
@media screen and (orientation:portrait) and (min-width: 500px) and 
(-webkit-min-device-pixel-ratio: 1.5) {

    #menu-buttons {
        font-size: 2.5rem;
    }
    .nav-list a {
        font-size: 1.75rem;
    }

    #detached-icon, 
    #condo-icon {
        width: 4rem;
        height: 4rem;
    } 

    .filter-options {
        font-size: 1.5rem;
    }
    .radio-item {
        font-size: 1.2rem;
    }
    .radio-item input:checked ~ .radio-text::after {
        top: -0.25rem;
        left: -0.5rem;
        font-size: 1.5rem;
    }
    .submit-parameters-check {
        padding: 3rem 2rem 2rem 4rem;
        font-size: 0.85rem;
    }
        
}


/* Mobile, tablet ========================================================= */
/* Portrait mode ========================================================== */
@media screen and (orientation:portrait) and (min-width: 650px) and 
(-webkit-min-device-pixel-ratio: 1.5) {

    /* Main Mapbox geocoder search box */
    .mapboxgl-ctrl-geocoder {
        /* bottom: calc(12 * var(--vhp)) !important; */
        bottom: 12vh !important;
    }
     /* Search results */
    /* Default results list */
    .mapboxgl-ctrl-geocoder .suggestions {
        font-size: 1rem !important;
    }

    .submit-parameters-check {
        font-size: 0.85rem;
        padding: 3rem 2rem 2rem 4rem;
    }

    #detached-icon, 
    #condo-icon {
        width: 4rem;
        height: 4rem;
    } 

    .filter-options {
        font-size: 1.5rem;
    }
    .radio-item {
        font-size: 1.35rem;
    }
    .radio-item input:checked ~ .radio-text::after {
        top: -0.25rem;
        left: -0.5rem;
        font-size: 1.5rem;
    }
    @keyframes filterSheath {
            
        0% {
            left: 0;
            background-color: var(--background);
        }
        100% {
            left: -91vw;
            background-color: var(--transparent);
        }
    }
    @keyframes filterUnsheath {
        0% {
            left: -91vw;
        }
        100% {
            left: 0;
        }
    }
    .citation-info.toggle,
    .mail-info.toggle {
        left: 9vw;
    }

    .colour-bar-numeral {
        left: 0;
    }

    .stats-box {
        font-size: 0.85rem;
    }
    .info-box {
        height: 100%;
        font-size: 1.2rem;
    }
}

/* Mobile, tablet ========================================================= */
/* Portrait mode ========================================================== */
@media screen and (orientation:portrait) and (min-width: 500px) and (min-height: 900px) and
(-webkit-min-device-pixel-ratio: 1.5) {
    #menu-slide-toggle {
        font-size: 0.85rem;
    }
    .nav-list a {
        font-size: 1.7rem;
    }

    .citation-info,
    .mail-info {
        bottom: 8.5vh;
        right: 7vw;
    }

}

/* Tablet ================================================================= */
/* Portrait mode ========================================================== */
@media screen and (orientation:portrait) and (min-width: 800px) and (min-height: 1100px) and
(-webkit-min-device-pixel-ratio: 1.5) {

    /* Main Mapbox geocoder search box */
    .mapboxgl-ctrl-geocoder {
        bottom: 17vh !important;
        line-height: 1.75rem !important;
        height: 5vh;
    }
    /* Search icon and placeholder text */
    .mapboxgl-ctrl-geocoder--icon {
        width: 3rem !important;
        height: 3rem !important;
        left: 1rem !important;
    }
    /* Placeholder text */
    .mapboxgl-ctrl-geocoder--input {
        font-size: 1.5rem !important;
    }
    /* Search results */
    /* Default results list */
    .mapboxgl-ctrl-geocoder .suggestions {
        font-size: 1.25rem !important;
    }
    .mapboxgl-ctrl-geocoder--icon-close {
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
    /* Popups */
    .mapboxgl-popup {
        font-size: 1.5rem !important;
    }
    .mapboxgl-popup-content {
        line-height: 2rem;
        padding: 0.75rem !important;
    }

    .nav-list a {
        font-size: 2.5rem;
    }
    #menu-buttons {
        font-size: 3.25rem;
    }

    .filter-options {
        font-size: 2rem;
    }
    .filter-menu .filter-options-container {
        margin-right: 8vw;
        margin-left: 8vw;
    }
    .filter-options.box-footage .radio-list {
        column-gap: 10vw;
    }
    .filter-options.box-age .radio-list {
        column-gap: 10vw;
    }

    .submit-parameters-check {
        font-size: 1rem;
        padding: 7vw 4vw 4vw 16vw;
    }
    .filter-submit button {
        margin-bottom: 0;
    }
    .fas.fa-search {
        font-size: 5rem;
    }
    .side-buttons {
        grid-template-rows: repeat(3, 1fr);
    }
    #citation, 
    #mail {
        width: 2.5rem;
        height: 2.5rem;
    }
    #citation {
        grid-row-end: 2;
        align-self: center;
    }
    #mail {
        grid-row-end: 3;
        align-self: center;
    }
    #collapse {
        grid-row-end: 4;
        align-self: center;
        width: 3.25rem;
        height: 3.25rem;
    }
    #citation-info-text, 
    #mail-info-text {
        font-size: 1.25rem;
        padding-top: unset;
        padding: 1rem;
    }
    #citation-box.toggle, 
    #mail-box.toggle {
        left: 9vw;
    }

    #search-stats {
        left: 3.5vw;
    }
    .stats-box {
        font-size: 1.2rem;
    }

    #price-gauge {
        grid-row-end: 8;
        height: 90%;
        align-self: flex-start;
        font-size: 1rem;
    }
    .colour-bar-numeral {
        left: unset;
        justify-content: flex-start;
    }

    #dashboard {
        grid-column-start: 4;
        grid-row-start: 7;
    }
    .info-box {
        height: 70%;
        font-size: 1.5rem;
    }
}


/* Tablet ================================================================= */
/* Portrait mode ========================================================== */
@media screen and (orientation:portrait) and (min-width: 800px) and (min-height: 1600px) {
    /* Main Mapbox geocoder search box */
    .mapboxgl-ctrl-geocoder {
        bottom: 11vh !important;
        right: 2vw !important;
        width: 25vw !important;
        height: 2.5vh !important;
        line-height: 2rem !important;
    }
    .mapboxgl-ctrl-geocoder .suggestions {
        font-size: 1rem !important;
    }

    #filter-form {
        grid-column-end: 5;
    }
    #detached-icon,
    #condo-icon {
        width: 6rem;
        height: 6rem;
    }
    .filter-options {
        font-size: 2.25rem;
    }
    #filter-menu {
        grid-template-rows: 10% 75% 15%;
    }
        @keyframes filterSheath {
            0% {
                left: 0;
                background-color: var(--background);
            }
            100% {
                left: -42vw;
                background-color: var(--transparent);
            }
        }
        @keyframes filterUnsheath {
            0% {
                left: -42vw;
            }
            100% {
                left: 0;
            }
        }
    .filter-menu .filter-options-container {
        padding: 0 7% 0 7%;
        grid-template-rows: 30% 23% 23% 23%;
        grid-template-areas:
            "filterLine1 filterLine1"
            "filterLine2 filterLine2"
            "filterLine3 filterLine3"
            "filterLine4 filterLine4";
        row-gap: unset;
    }
    .radio-item {
        font-size: 1.5rem;
    }
    .radio-text:before {
        left: -0.3rem;
        width: 2rem;
        border-bottom: 3px dashed var(--options-font-inactive);
    }
    .radio-item input:focus ~ .radio-text:before {
        border-bottom: 3px solid;
    }
    .radio-item input:checked ~ .radio-text:after {
        font-size: 2rem;
        left: -0.7rem;
        top: -0.5rem;
    }
    .filter-options.box-footage .radio-list {
        grid-template-rows: repeat(6, 1fr);
        column-gap: 15%;
    }
    .filter-options.box-age .radio-list {
        grid-template-rows: repeat(4, 1fr);
        column-gap: 10%;
    }
    .filter-options.box-station {
        grid-area: filterLine3;
    }
    .filter-options.box-mtrl {
        grid-area: filterLine4;
    }
    .submit-parameters-check {
        font-size: 1.25rem;
        padding: 15% 5% 5% 20%;
    }
    .fas.fa-search {
        font-size: 5rem;
    }
    #citation,
    #mail {
        width: 3rem;
        height: 3rem;
    }
    #collapse {
        width: 4rem;
        height: 4rem;
        right: -1rem;
    }
    #collapse.close {
        transform: translateX(-1rem);
    }
    .citation-info, .mail-info {
        bottom: 5vh;
    }
    #citation-info-text.showVerticalOpen,
    #mail-info-text.showVerticalOpen {
        right: 10vw;
    }
    #citation-info-text.showVerticalClose,
    #mail-info-text.showVerticalClose {
        left: 5vw;
    }

    #price-gauge {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-end: 7;
        width: 100%;
        height: 100%;
        font-size: 1rem;
    }
    #price-gauge.slide {
        transform: translateX(-48vw);
    }
    .colour-bar-cell {
        border-bottom: dotted 2px var(--options-font-highlight);
    }
    .colour-bar-numeral {
        left: 0.5rem;
    }
    #c80000 {
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
    }
    #c500 {
        border-bottom-left-radius: 25%;
        border-bottom-right-radius: 25%;
    }

    #search-stats {
        grid-column-start: 2;
        align-items: flex-end;
        bottom: 2vh;
        left: -1rem;
    }

    .info-box {
        height: 40%;
        width: 100%;
        bottom: 2vh;
        align-self: flex-end;
        right: 2vw;
        padding-bottom: 0;
        font-size: 1.25rem;
    }
}



/* Mobile & tablet ========================================================= */
/* Landscape mode ========================================================== */
@media screen and (orientation:landscape) and (max-height: 500px) and 
(-webkit-min-device-pixel-ratio: 1.5) {
    
    .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
        display: none !important;
    }
    /* Main Mapbox geocoder search box */
    .mapboxgl-ctrl-geocoder {
        bottom: 27vh !important;
        right: 0 !important;
        min-width: 100px !important;
        width: 30vw !important;
        height: 7vh !important;
        line-height: 0.8rem !important;
    }
    
    /* Search icon and placeholder text */
    .mapboxgl-ctrl-geocoder--icon {
        width: 2rem !important;
        height: 2rem !important;
        /* left: 1rem !important; */
    }
    /* Search icon */
    .mapboxgl-ctrl-geocoder--icon-search {
        position: unset !important;
        top: 0 !important;
    }
    /* Placeholder text */
    .mapboxgl-ctrl-geocoder--input {
        margin-left: 0.2rem !important;
        font-size: 1rem !important;
        padding: 0 !important;
    }

    /* Search results */
    /* Default results list */
    .mapboxgl-ctrl-geocoder .suggestions {
        font-size: 0.75rem !important;
    }
    .mapboxgl-ctrl-geocoder--suggestion-title {
        margin-bottom: 0.4rem !important;
    }
    /* X button */
    .mapboxgl-ctrl-geocoder--icon-close {
        margin-top: unset !important;
        margin-right: unset !important;
        width: 1rem !important;
        height: 1rem !important;
    }

    .nav {
        top: 0;
    }
    #menu.slide-toggle {
        margin-right: 7vw;
        background: var(--background);
    }

    @keyframes filterSheath {
            
        0% {
            left: 0;
            background-color: var(--background);
        }
        100% {
            left: -43.5vw;
            background-color: var(--transparent);
        }
    }
    @keyframes filterUnsheath {
        0% {
            left: -43.5vw;
        }
        100% {
            left: 0;
        }
    }

    #filter-form {
        grid-column-end: 5;
    }
    #filter-menu {
        grid-template-rows: 15% 70% 15%; /* 15 70 15*/
    }
    .filter-menu .filter-home-type {
        margin-top: 0;
        margin-bottom: 0;
    }
    .radio-home-type {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    #detached-icon, 
    #condo-icon {
        width: 2rem;
        height: 2rem;
    }
    .filter-menu .filter-options-container {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: unset;
        row-gap: 5vh;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .filter-options.box-footage {
        grid-area: unset;
        grid-column-start: 1;
        grid-column-end: 8;
    }
    .filter-options.box-age {
        grid-area: unset;
        grid-column-start: 1;
        grid-column-end: 8;
    }
    .filter-options.box-station {
        grid-area: unset;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .filter-options.box-mtrl {
        grid-area: unset;
        grid-column-start: 3;
        grid-column-end: 7;
    }

    .filter-options {
        grid-template-areas: unset;
        font-size: 1rem;
    }
    
    .radio-item {
        font-size: 0.8rem;
    }
    .radio-text::before {
        width: 1.25rem;
        left: 0.4rem;
        top: -0.5rem;
    }
    .radio-item input:checked ~ .radio-text::after {
        font-size: 1rem;
        left: 0.5rem;
    }
    .radio-list {
        row-gap: 0;
        padding-top: 0;
        justify-content: start;
    }
    .filter-options.box-footage .radio-list {
        column-gap: 1rem;
    }
    .filter-options.box-age .radio-list {
        column-gap: 0.7rem;
    }

    .submit-parameters-check {
        display: none;
    }

    .category-title {
        grid-area: filter-options;
        margin-top: 0;
        display: flex;
        font-size: 2.5rem;
        opacity: 0.25;
    }
    #sqm {
        opacity: unset;
        align-self: center;
    }
    .box-station .category-title,
    .box-mtrl .category-title {
        word-break: break-word;
        line-height: 2.5rem;
    }
    .box-mtrl .category-title {
        width: 50%
    }

    .filter-submit button {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .submit-tooltip {
        display: none;
    }
    .side-buttons {
        grid-row-start: 1;
        grid-row-end: 4;
    }
    #citation {
        top: -5vh;
    }
    #mail {
        top: -2vh;
    }

    #price-gauge {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 7;
        left: 1.5vw;
        top: 3vh;
        font-size: 0.6rem;
        height: unset;
        width: unset;
    }
    #price-gauge.slide {
        transform: translateX(-50vw);
    }

    #search-stats {
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        bottom: unset;
        font-size: 0.8rem;
    }

    #dashboard {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 9;
        display: flex;
        align-items: end;
        justify-content: end;
    }

    .info-box {
        width: 30vw;
        font-size: 1rem;
        row-gap: 0;
        right: 0;
        bottom: 0;
        padding-bottom: 0;
    }
    .info-text {
        border-bottom: 1px dashed var(--background);
    }
}



/* Mobile & tablet, soft keyboard visible ================================== */
/* Portrait mode ========================================================== */
@media screen and (max-height: 500px) and (max-width: 500px) and 
(-webkit-min-device-pixel-ratio: 1.5) {

    /* Main Mapbox geocoder search box */
    .mapboxgl-ctrl-geocoder {
        bottom: 10vh !important;
        width: 75vw !important;
        height: 10vh !important;
        right: 12.5vw !important;
        line-height: 1rem !important;
    }
    .mapboxgl-ctrl-geocoder .suggestions {
        font-size: 1rem !important;
    }

    #filter-form,
    #price-gauge,
    #search-stats,
    #dashboard {
        opacity: 0 !important;
        transition: all 100ms;
    }
}