<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "favicon.html" %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% include 'japan_real_estate_choropleth/script1.html' %}
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/6bf4161487.js"></script>
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    
    <body class="pages-body">
        <div class="pages-body" id="pages-loader">
            <header class="top">
                {% include 'japan_real_estate_choropleth/nav.html' %}
            </header>
        </div>
        
        {% block content %}        
        {% endblock %}

        {% include 'japan_real_estate_choropleth/script2.html' %}
    </body>
</html>