<div class="projects_timeline_grid_year_axes">
    <div class="projects_timeline_grid_year_axes_jan_apr">
        {% include "projects/grid_month.html" %}
    </div>
    <div class="projects_timeline_grid_year_axes_apr_jul">
        {% include "projects/grid_month.html" %}
    </div>
    <div class="projects_timeline_grid_year_axes_jul_oct">
        {% include "projects/grid_month.html" %}
    </div>
    <div class="projects_timeline_grid_year_axes_oct_dec">
        {% include "projects/grid_month.html" %}
    </div>
</div>