<div class="projects_timeline_year_grid">
    <div class="projects_timeline_year_grid_jan_apr">
        {% include "projects/grid_month.html" %}
    </div>
    <div class="projects_timeline_year_grid_apr_jul">
        {% include "projects/grid_month.html" %}
    </div>
    <div class="projects_timeline_year_grid_jul_oct">
        {% include "projects/grid_month.html" %}
    </div>
    <div class="projects_timeline_year_grid_oct_dec">
        {% include "projects/grid_month.html" %}
    </div>
</div>