<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "favicon.html" %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% include 'projects/script1.html' %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Grenze:wght@200&family=Space+Mono&family=Sansita+Swashed:wght@800&display=swap" rel="stylesheet">
        <script type="text/javascript">
            const projects = {{ projects|tojson }};
        </script>
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>

    <body>
        <!-- <div class="loading">
            <div id="loading_image">
                <img src="https://storage.googleapis.com/jn-portfolio/misc/loading.gif" id="loading_image_dripper">
            </div>
            <h2 id="loading_text">Loading...</h2>
        </div> -->

        <div class="container">
            <header class="header">
                {% include "projects/nav.html" %}
            </header>

            {% block content %}        
            {% endblock %}
        </div>

        {% include 'projects/script2.html' %}
    </body>
</html>