body {
    --color-bg: #312c2b;
    --color-accent-primary: rgb(187, 199, 21);
    --color-accent-secondary: rgb(42, 184, 124);
    --color-text: #cdcdcd;
    --text-accent-primary: rgb(16, 106, 210);
    background: var(--color-bg);
    font-family: 'Raleway', sans-serif;
    color: #000000;
}

body a {
    text-decoration: none;
    color: #000000;
}

h1, h2, h3, h4 {
    display: unset;
    font-size: unset;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: unset;
}

h2 {
    font-size: 5.5mm;
}

h3 {
    font-size: 4.5mm;
}

h4 {
    font-size: 3.5mm;
}


::selection {
    background: var(--color-text);
    color: var(--color-bg);
}

@media print {
    .header {
        display: none;
    }
}

@page {
    size: A4;
}

.container {
    display: grid;
    background: var(--color-bg);
    animation-name: fade-in;
    animation-duration: 2000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .Resume {
        width: 210mm;
        height: 297mm;
        background: #ffffff;
        display: grid;
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        grid-template-columns: 100%;
        grid-template-rows: 25mm auto;
        padding: 10mm 15mm 10mm 15mm;
    }

        .Resume__header {
            grid-row: 1 / 2;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 45% 25% 20%;
            justify-items: center;
        }

            #full-name {
                grid-row: 1 / 2;
                font-size: 10mm;
                color: var(--text-accent-primary);
                font-weight: 400;
            }

            .Resume__header__contact {
                grid-row: 2 / 3;
                display: flex;
                column-gap: 5mm;
                flex-direction: row;
                font-size: 3.5mm;
                align-items: center;
            }
                .Resume__header__contact__item {
                    display: flex;
                    column-gap: 1mm;

                }
                    .Resume__header__contact .ionicon {
                        grid-column: unset;
                        grid-row: unset;
                        width: 3mm;
                        justify-self: unset;
                        align-self: unset;
                        color: var(--text-accent-primary);
                        fill: var(--text-accent-primary);
                        transition: unset;
                    }
            
            #header-location {
                grid-row: 3 / -1;
                font-size: 3mm;
                align-self: flex-start;
            }

        .Resume__sections {
            grid-row: 2 / -1;
            display: grid;
            grid-template-columns: 100%;
            grid-auto-rows: max-content;
            row-gap: 5mm;
        }

            .Resume__section {
                display: grid;
                grid-template-rows: 10mm auto;
            }

                .Resume__section__item {
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 10mm auto;
                    row-gap: 2.5mm;
                    padding-bottom: 4mm;
                }
                
                #projects .Resume__section__item {
                    display: grid;
                    grid-template-rows: 10mm 6mm;
                }

                    .Resume__section__item__header {
                        grid-column: 1 / -1;
                        grid-row: 1 / 2;
                        display: grid;
                        grid-template-columns: 100%;
                        grid-template-rows: 65% 35%;
                    }
    
                        .Resume__section__item__header__name {
                            grid-column: 1 / 2;
                            grid-row: 1 / 2;
                            color: var(--text-accent-primary);
                            font-weight: 400;
                            align-self: center;
                        }

                        .Resume__section__item__header__title {
                            grid-column: 1 / 2;
                            grid-row: 2 / -1;
                            font-style: italic;
                            font-weight: 400;
                        }

                        .Resume__section__item__header__links {
                            grid-column: 1 / -1;
                            grid-row: 2 / 3;
                            display: flex;
                            align-self: baseline;
                            z-index: 2;
                        }

                            .Resume__section__item__header__links a {
                                font-size: 3.75mm;
                                font-family: 'Space Mono', monospace;
                            }

                        .Resume__section__item__header__date {
                            grid-column: 1 / -1;
                            grid-row: 1 / 2;
                            display: flex;
                            text-align: end;
                            align-self: center;
                            justify-self: flex-end;
                        }

                        .Resume__section__item__header__location {
                            grid-column: 1 / -1;
                            grid-row: 2 / -1;
                            display: flex;
                            text-align: end;
                            align-self: baseline;
                            justify-self: flex-end;
                        }                        

                    .Resume__section__item__summary {
                        grid-row: 2 / 3;
                        display: flex;
                        align-items: flex-end;
                        font-size: 4mm;
                    }

                        .Resume__section__item__summary__objectives {
                            font-style: italic;
                            font-weight: 400;
                        }

                    #skills .Resume__section__item {
                        grid-column: 1 / 2;
                        grid-row: 3 / 4;
                        display: grid;
                        grid-template-columns: 100%;
                        grid-template-rows: repeat(3, 1fr);
                        row-gap: 1.5mm;
                        font-size: 3.75mm;
                    }

                        .Resume__section__item__stack {
                            display: grid;
                            grid-template-columns: 25mm auto;
                            grid-template-rows: 100%;
                        }
                            
                            .Resume__section__item__stack__name {
                                display: flex;
                                justify-self: flex-start;
                            }
                            
                            .Resume__section__item__stack__container {
                                grid-column: 2 / -1;
                                display: flex;
                                column-gap: 5mm;
                            }
                                .Resume__section__item__stack li {
                                    list-style: none;
                                }

                    .Resume__section__item__list {
                        grid-column: 1 / -1;
                        grid-row: 2 / -1;
                    }

                    #projects .Resume__section__item__list {
                        grid-column: 1 / -1;
                        grid-row: 4 / -1;
                    }

                        .Resume__section__item__list li {
                            list-style-type: circle;
                            list-style-position: inside;
                            font-size: 3.75mm;
                            line-height: 5.75mm;
                        }

/* Cover letter template */
    
    .Resume__letter__block {
        display: flex;
        flex-direction: column;
        font-size: 0.75rem;
    }

    .Resume__letter__body,
    .Resume__letter__footer {
        display: flex;
        flex-direction: column;
        row-gap: 5mm;
        padding-top: 10mm;
        line-height: 1.75;
        font-size: 0.85rem;
    }

        .Resume__letter__body a {
            color: var(--text-accent-primary);
        }

        .Resume__letter__body__date {
            font-style: italic;
        }

        .Resume__letter__body__title {
            font-weight: 600;
            padding-bottom: 1rem;
        }

        .Resume__letter__body__proj__name {
            font-style: italic;
        }
