.NavBar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    align-items: flex-end;
}

    .NavBar__menu {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        display: grid;
        height: 3.5rem;
        top: 0;
        position: sticky;
        grid-template-columns: auto 2.5rem;
        grid-template-rows: 100%;
        background: transparent;
        align-self: flex-start;
        align-items: flex-start;
        user-select: none;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        transition: all 300ms ease-in-out;
        z-index: 2;
    }

        .NavBar__menu.toggle {
            background: rgba(0, 0, 0, 0.85);
            transition: all 300ms ease-in-out;
            z-index: 3;
        }

        #NavBar__menu {
            grid-row: 1;
            display: grid;
            width: 100%;
            height: 100%;
            grid-auto-flow: column;
            opacity: 0;
            user-select: none;
            pointer-events: none;
            transition: opacity 300ms ease-in-out;
        }

            #NavBar__menu.toggle {
                opacity: 1;
                pointer-events: all;
                transition: opacity 300ms ease-in-out;
            }        

            #NavBar__menu li {
                height: 100%;
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: 100%;
                list-style-type: none;
                transition: all 300ms ease-in-out;
                cursor: pointer;
            }

                #NavBar__menu li:hover {
                    background: rgba(255, 255, 255, 0.1);
                    transition: all 300ms ease-in-out;
                }

                .NavBar__menu__name {
                    grid-column: 1;
                    grid-row: 1;
                    align-self: center;
                    justify-self: end;
                    font-family: "Grenze", serif;
                    font-size: 1.75rem;
                    color: var(--colour-text-active);
                    text-decoration: none;
                    transition: all 300ms ease-in-out;
                    pointer-events: none;
                }

                    .NavBar__menu__name:visited {
                        color: var(--colour-text-active);
                    }

                    /* Link icons */
                    #NavBar__menu li svg {
                        grid-column: 2;
                        grid-row: 1;
                        width: 1.25rem;
                        justify-self: start;
                        align-self: center;
                        color: var(--colour-text-active);
                        pointer-events: none;
                        transition: all 350ms ease-in-out;
                    }

                #NavBar__menu li:hover 
                    > .NavBar__menu__name {
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        animation-name: menu-highlight;
                        animation-fill-mode: forwards;
                        animation-duration: 350ms;
                        animation-timing-function: ease-in-out;
                        transition: all 350ms ease-in-out;
                }

                    @keyframes menu-highlight {
                        0% {
                            text-decoration-color: var(--colour-accent-primary);
                            text-decoration-thickness: 0.06rem;
                        }
                        65% {
                            text-decoration-color: var(--colour-accent-primary);
                            text-decoration-thickness: 0.18rem;
                        }
                        100% {
                            text-decoration-color: var(--colour-accent-secondary);
                            text-decoration-thickness: 0.30rem;
                        }
                    }
                
                /* Animate icons on menu item hovers */
                #NavBar__menu li:hover 
                    > svg {
                        animation-name: icon-highlight;
                        animation-fill-mode: forwards;
                        animation-duration: 350ms;
                        animation-timing-function: ease-in-out;
                }

                    @keyframes icon-highlight {
                        0% {
                        }
                        65% {
                            color: var(--colour-accent-primary)
                        }
                        100% {
                            color: var(--colour-accent-secondary)
                        }
                    }

        .NavBar__menu-toggle {
            grid-column: 2;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 100%;
            background: transparent;
            align-items: center;
            cursor: pointer;
            transition: background 300ms ease-in-out;
        }
            /* For matching toggle background with resume item on resume item hover */
            .blend {
                background: rgba(255, 255, 255, 0.1);
                transition: all 300ms ease-in-out;
            }

            #NavBar__menu-toggle__stroke1 {
                grid-column: 1;
                grid-row: 1;
                width: 1.25rem;
                height: 1.25rem;
                border-left: var(--colour-accent-primary) solid 0.30rem;
                border-bottom: transparent solid 0.30rem;
                transform: rotate(45deg);
                transition: all 300ms ease-in-out;
                z-index: 6;
            }

                #NavBar__menu-toggle__stroke1.toggle {
                    border-bottom: transparent solid 0rem;
                    transform: rotate(135deg);
                    height: 2rem;
                    margin-top: 1rem;
                    transition: all 550ms ease-in-out;

                }

            #NavBar__menu-toggle__stroke2 {
                grid-column: 1;
                grid-row: 1;
                width: 1.25rem;
                height: 1.25rem;
                border-left: var(--colour-accent-secondary) solid 0.30rem;
                border-top: transparent solid 0.30rem;
                transform: rotate(-45deg);
                transition: all 550ms ease-in-out;
                z-index: 5;
            }

                #NavBar__menu-toggle__stroke2.toggle {
                    border-top: transparent solid 0rem;
                    transform: rotate(-135deg);
                    height: 2rem;
                    margin-bottom: 0.5rem;
                    transition: all 300ms ease-in-out;
                }


/* ----------------------------------
            Media queries
-----------------------------------*/
/* @media screen and (orientation: landscape) 
  and (max-width: 5000px) {
}
.NavBar.screen_4k {
}



@media screen and (orientation: landscape) 
  and (max-width: 2800px) {
   
}
.NavBar.screen_1440 {
}



@media screen and (orientation: landscape) 
  and (max-width: 2000px) {

}
.NavBar.screen_1080 {
}




@media screen and (orientation: landscape) 
  and (max-width: 1700px) {

}
.NavBar.portable_hd_land {
}



.NavBar.portable_hd_port {
}



@media screen and (orientation: portrait) {

}
.NavBar.portrait {

} */