/* ---------------------------------------------------------------------- */
/*                              Projects page                             */
/* ---------------------------------------------------------------------- */
::selection {
    background: var(--color-text);
    color: var(--color-bg);
}

html {
    height: 100%;
}

body {
    --color-bg: #312c2b;
    --color-accent-primary: rgb(187, 199, 21);
    --color-accent-secondary: rgb(42, 184, 124);
    --color-text: #cdcdcd;
    --color-faded: #cdcdcd40;
    background: var(--color-bg);
    height: 100%;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {        /* during initial loading screen */
    /* display: none */
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
    .container.fade {
        animation-name: container-fade-in;
        animation-duration: 2000ms;
    }

        @keyframes container-fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

    .container.show {       /* after loading screen lifts */
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }


.Projects {
    grid-column: 1;
    grid-row: 1;
    padding-top: 6rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 8rem;
    display: grid;
    align-self: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    row-gap: 1rem;
    font-family: 'Grenze';
    font-size: 1.35rem;
    color: var(--color-text);
}
    
    .Projects a {
        color: var(--color-text);
        text-decoration: none;
        cursor: pointer;
        transition: all 500ms;
    }
    
    .Projects a:visited {
        color: var(--color-text);
    }

    .Projects a:hover {
        background: var(--color-text);
        color: var(--color-bg);
        transition: all 500ms;
    }

    .Projects__description {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        height: calc(100% - 0.5rem*2);     /* stack gaps x3 - stack top padding */
        padding-right: 2rem;
        display: grid;
        grid-template-rows: 70% 30%;
        row-gap: 1rem;
    }
        
        #projects-description-top {
            grid-row: 1 / 2;
            display: grid;
            grid-template-rows: 5rem 1rem;
            row-gap: 0.5rem;
            height: 100%;
            align-content: flex-end;
            transition: all 700ms ease-in-out;
            overflow-x: hidden;
        }

            .Projects__description__title {
                grid-row: 1 / 2;
                height: 5rem;
                display: grid;
                grid-template-rows: 2rem auto;
            }

                #title-project-year-git {
                    display: flex;
                    column-gap: 0.25rem;
                    font-size: 1.5rem;
                    animation-name: fade-in;
                    animation-duration: 500ms;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
                }

                    #title-project-year {
                        display: flex;
                        align-self: center;
                    }

                    #title-project-git {
                        display: flex;
                        align-self: baseline;
                    }

                    #title-project-git a:hover {
                        background: none;
                    }

                        #title-project-git-url {
                            width: 1.25rem;
                        }

                        #title-project-git-icon {
                            fill: var(--color-bg);
                            transition: all 1000ms ease-in-out;
                        }

                #title-text {
                    font-size: 2rem;
                    animation-name: fade-in;
                    animation-duration: 500ms;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
                }
            
            #title-separator {
                grid-row: 2 / 3;
                border-width: 0.5rem;
                border-style: solid;
                border-color: var(--color-bg);
                background: var(--color-bg);
                transition: all 1000ms ease-in-out;
            }

            .Projects__description__stats {
                grid-row: 3 / 4;
                display: flex;
                padding-top: 0.5rem;
                row-gap: 0.5rem;
                flex-direction: column;
            }

            .Projects__description__content {
                padding-top: 1rem;
                display: grid;
                grid-auto-rows: auto;
                row-gap: 1rem;
            }

            .Projects__description__content__item,
            .Projects__description__stats__item {
                display: grid;
                grid-template-columns: 17% auto;
                grid-template-rows: 100%;
                animation-name: fade-in;
                animation-duration: 500ms;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
            }

            .Projects__description__stats__title {
                grid-column: 1 / 2;
            }

            #stats-stack-backend,
            #stats-stack-frontend,
            #stats-stack-tools {
                grid-column: 2 / -1;
                height: 2rem;
                display: flex;
                column-gap: 0.5rem;
            }

        #projects-description-bottom {
            grid-row: 2 / 3;
            align-self: flex-start;
            padding-top: 3rem;
        }

            .Projects__description__access {
                display: flex;
                column-gap: 2.5rem;
                justify-content: center;
            }

            .stack__button,
            .access__button  {
                background: var(--color-bg);
                border-color: var(--color-text);
                border-style: solid;
                border-width: 0.1rem;
                border-radius: 0.20rem;
                padding: 0.25rem 0.5rem 0.25rem 0.5rem;
                font-family: 'Space Mono', monospace;
                font-size: 0.95rem;
                opacity: 1;
                cursor: pointer;
                pointer-events: all;
                transition: all 350ms;
                animation-name: fade-in;
                animation-duration: 500ms;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
            }

            .access__button {
                padding: 0.375rem 0.75rem 0.375rem 0.75rem;
                font-size: 1.275rem;
            }
                .access__button__language {
                    font-size: 1rem;
                }

                .stack__button a,
                .access__button a {
                    color: var(--color-text);
                }
              
                .stack__button a:visited,
                .access__button a:visited {
                    color: var(--color-text);
                }
            
                .stack__button a:hover,
                .access__button a:hover {
                    background: none;
                    color: var(--color-bg);
                    transition: all 500ms;
                }
            
                .stack__button:hover,
                .access__button:hover {
                    background: var(--color-text);
                    border-color: var(--color-bg);
                    transition: all 350ms;
                }

                .stack__button:hover a,
                .access__button:hover a {
                    color: var(--color-bg);
                    transition: all 350ms;
                }


    .Projects__demo {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        border-radius: 0.35rem;
        padding-top: 1rem;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: flex-end;
        animation-name: fade-in;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

        #demo-video {
            border-radius: inherit;
            display: inline-block;
            width: calc(16rem*3 + 1rem*2);      /* matches selector grid width */
        }

    
    .Projects__selector {
        grid-column: 2 / -1;
        grid-row: 2 / -1;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: calc(100% - 1.75rem*2) 1.75rem 1.75rem;
        width: calc(16rem*3 + 1rem*2);      /* images x3 + gap x2 */
        justify-self: flex-end;
        align-self: baseline;
    }
        .Projects__selector__scroller {
            background: none;
            border: none;
            color: var(--color-text);
            display: flex;
            align-self: center;
            width: 5rem;
            cursor: pointer;
            transition: all 300ms ease-in-out;
        }
            .Projects__selector__scroller.unavailable {
                color: var(--color-faded);
                cursor: unset;
                transition: all 300ms ease-in-out;
            }

            #scroller-left {
                grid-column: 1 / 2;
                grid-row: 3 / -1;
                padding-right: 0.25rem;
                flex-direction: row-reverse;
                justify-self: flex-end;
                align-self: flex-end;
            }

            #scroller-right {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                padding-left: 0.25rem;
                flex-direction: row;
                justify-self: flex-start;
                align-self: flex-start;
            }

            .Projects__selector__scroller__icon {
                display: inline-block;
                width: 2.5rem;
                height: 100%;
                pointer-events: none;
            }

        .Projects__selector__container {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            display: flex;
            column-gap: 1rem;
            /* padding-left: 0.5rem;   centering/offsets the column gap */
            padding-bottom: 1rem;   
            overflow: hidden;
            align-items: flex-start;
        }

            .Projects__selector__button__image__overlay {
                background: none;
                border-radius: 0.35rem;
                transition: all 300ms ease-in-out;
            }

            .Projects__selector__button__image {
                display: block;
                opacity: 1.0;
                width: 16rem;
                border-radius: 0.35rem;
                cursor: pointer;
                transition: all 300ms ease-in-out;
            }