/* ----------------------------------------------------------------- */
/*              Landscape view - 3840x2160, high-res                 */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    /* and (-webkit-min-device-pixel-ratio: 1.5)  */
    and (max-width: 5000px) {

    #projects-description-top {
        padding-top: 3rem;
    }
}


/* ----------------------------------------------------------------- */
/*            Landscape view - 2560x1600 plus, high-res              */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    /* and (-webkit-min-device-pixel-ratio: 1.5)  */
    and (max-width: 2800px)
    and (min-height: 1600px) {

    #projects-description-top {
        padding-top: 5rem;
    }

    #demo-video {
        min-width: 90%;
        max-width: 100%;
    }
}


/* ----------------------------------------------------------------- */
/*            Landscape view - 2560x1440 plus, high-res              */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    /* and (-webkit-min-device-pixel-ratio: 1.5)  */
    and (max-width: 2800px) {

    #projects-description-top {
        padding-top: 3rem;
    }
}


/* ----------------------------------------------------------------- */
/*            Landscape view - 1920x1080 standard                    */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    /* and (-webkit-min-device-pixel-ratio: 1.5)  */
    and (max-width: 2000px) {

}


/* ----------------------------------------------------------------- */
/*                Landscape view - under 1920x1080                   */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    /* and (-webkit-min-device-pixel-ratio: 1.5) */
    and (max-width: 1700px) {

    .Projects__selector {
        width: calc(14rem*3 + 1rem*2 + 2.25rem*2);
    }

        .Projects__selector__button__image {
            width: 14rem;
        }
}


/* ----------------------------------------------------------------- */
/*                Landscape view - tablets, notebooks                */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    /* and (-webkit-min-device-pixel-ratio: 1.5) */
    and (max-width: 1500px) {

}


/* ----------------------------------------------------------------- */
/*                Landscape view - tablets, notebooks                */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    /* and (-webkit-min-device-pixel-ratio: 1.5) */
    and (max-width: 1350px) {

    .Projects__selector {
        width: calc(13rem*3 + 1rem*2 + 2.25rem*2);
    }

        .Projects__selector__button__image {
            width: 13rem;
        }
}


/* ----------------------------------------------------------------- */
/*                Landscape view - mobile devices                    */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    /* and (-webkit-min-device-pixel-ratio: 1.5) */
    and (max-width: 1200px) {

    .Projects {
        padding-top: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 8rem;
        height: 100%;
    }

    .Projects__demo {
        padding-bottom: 2rem;
    }

    .Projects__selector {
        width: calc(18rem*2 + 1rem*2 + 2.25rem*2);
    }

        .Projects__selector__container {
            column-gap: 2rem;
        }

        .Projects__selector__button__image {
            width: 18rem;
        }
        
        #scroller-left {
            padding-right: 1rem;
        }

        #scroller-right {
            padding-left: 1rem;
        }

            .Projects__selector__scroller__icon {
                width: 4rem;
            }


}


/* ----------------------------------------------------------------- */
/*                      Portrait view - general                      */
/* ----------------------------------------------------------------- */
@media screen and (orientation: portrait) {
 
}


/* ----------------------------------------------------------------- */
/*               Portrait view - non-mobile screens                  */
/* ----------------------------------------------------------------- */
@media screen and (orientation: portrait)
    and (max-width: 1200px) {


}


/* ----------------------------------------------------------------- */
/*               Portrait view - tablets                             */
/* ----------------------------------------------------------------- */
@media screen and (orientation: portrait)
    and (max-width: 900px) {


}


/* ----------------------------------------------------------------- */
/*                 Portrait view - mobile devices                    */
/* ----------------------------------------------------------------- */
@media screen and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1.5) 
    and (max-width: 600px) {


}
