/* ---------------------------------------------------------------------- */
/*                              Projects page                             */
/* ---------------------------------------------------------------------- */
body {
    --color-bg: #312c2b;
    --color-accent-primary: rgb(187, 199, 21);
    --color-accent-secondary: rgb(42, 184, 124);
    --color-text: #cdcdcd;
    --color-gridlines-major: #cdcdcd60;
    --color-gridlines-minor: #cdcdcd40;
    --sub-proj-border-width: 0.3rem;
    --sub-proj-border-width-hover: 0.5rem;
    background: var(--color-bg);
}

.container {        /* during initial loading screen */
    display: none
}
    .container.fade {
        animation-name: container-fade-in;
        animation-duration: 2000ms;
    }

        @keyframes container-fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

    .container.show {       /* after loading screen lifts */
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }

        .projects {
            grid-column: 1;
            grid-row: 1;
            padding-top: 3rem;
            padding-left: 6rem;
            padding-right: 6rem;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 5% 28% 67%;
        }
            .projects_labels {
                grid-column: 1;
                grid-row: 1 / 2;
                display: grid;
                grid-template-columns: 6% 94%;
                grid-template-rows: 100%;
                user-select: none;
            }

                .projects_labels_track {
                    grid-column: 2 / -1;
                    grid-row: 1;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: 100%;
                }

                    .projects_labels_track_months {
                        margin-left: -1rem;
                        font-family: 'Grenze';
                        font-size: 1rem;
                        color: var(--color-text);
                        align-self: center;
                        writing-mode: vertical-rl;
                        transform: rotate(180deg);
                    }

            .projects_timeline{
                grid-column: 1;
                grid-row: 2 / 3;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: repeat(3, 1fr);
                row-gap: 1.5rem;
                user-select: none;
            }

                .projects_timeline_year {
                    grid-column: 1;
                    display: grid;
                    grid-template-columns: 6% 94%;
                    grid-template-rows: 100%;
                }

                #projects_timeline_year_2021 {
                    grid-row: 1 / 2;
                }

                #projects_timeline_year_2020 {
                    grid-row: 2 / 3;
                }

                #projects_timeline_year_2019 {
                    grid-row: 3 / 4;
                }

                    .projects_timeline_year_title {
                        grid-column: 1 / 2;
                        text-align: center;
                        align-self: center;
                        color: var(--color-text);
                        font-family: 'Grenze';
                        font-size: 3rem;
                        text-align: left;
                    }

                    .projects_timeline_year_grid {
                        grid-column: 2 / -1;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-rows: 100%;
                    }

                        .projects_timeline_year_grid_jan_apr {
                            grid-column: 1 / 2;
                            grid-row: 1;
                            display: grid;
                            grid-template-columns: 100%;
                            grid-template-rows: repeat(4, 1fr);
                        }
                        .projects_timeline_year_grid_apr_jul {
                            grid-column: 2 / 3;
                            grid-row: 1;
                            display: grid;
                            grid-template-columns: 100%;
                            grid-template-rows: repeat(4, 1fr);
                        }
                        .projects_timeline_year_grid_jul_oct {
                            grid-column: 3 / 4;
                            grid-row: 1;
                            display: grid;
                            grid-template-columns: 100%;
                            grid-template-rows: repeat(4, 1fr);
                        }   
                        .projects_timeline_year_grid_oct_dec {
                            grid-column: 4 / -1;
                            grid-row: 1;
                            display: grid;
                            grid-template-columns: 100%;
                            grid-template-rows: repeat(4, 1fr);
                        }

                            .projects_timeline_year_grid_jan_apr,
                            .projects_timeline_year_grid_apr_jul,
                            .projects_timeline_year_grid_jul_oct,
                            .projects_timeline_year_grid_oct_dec {
                                border-top: var(--color-gridlines-minor) dotted 1px;
                                border-bottom: var(--color-gridlines-minor) dotted 1px;
                                border-left: var(--color-gridlines-major) dotted 2px;
                            }

                            /* #projects_timeline_year_2019 
                                .projects_timeline_year_grid_jan_apr,
                            #projects_timeline_year_2019
                                .projects_timeline_year_grid_apr_jul,
                            #projects_timeline_year_2019
                                .projects_timeline_year_grid_jul_oct,
                            #projects_timeline_year_2019
                                .projects_timeline_year_grid_oct_dec {
                                    border-bottom: none;
                            } */

                            .row1,
                            .row2,
                            .row3,
                            .row4 {
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                grid-template-rows: 100%;
                                border-bottom: var(--color-gridlines-minor) dotted 1px;
                            }

                            .row4 {
                                border-bottom: none;
                            }

                            .col1,
                            .col2 {
                                border-right: var(--color-gridlines-minor) dotted 1px;
                            }

            .projects_content {
                grid-column: 1;
                grid-row: 3 / -1;
                padding-top: 3rem;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 100%;
                font-family: 'Grenze';
                font-size: 1.5rem;
                color: var(--color-text);
            }

                .projects_content_main {
                    grid-column: 1 / 2;
                    grid-row: 1;
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: auto;
                    row-gap: 0.10rem;
                }

                .projects_content_sub {
                    grid-column: 2 / -1;
                    grid-row: 1;
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: auto;
                    row-gap: 0.10rem;
                }