.Login {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    position: relative;
    display: flex;
    z-index: 2;
}

    .Login__button {
        display: grid;
        align-items: center;
        justify-items: center;
        height: 100%;
        width: 2.25rem;
        background: none;
        border: none;
        align-items: flex-end;
        cursor: pointer;
        pointer-events: all;
    }

        .Login__button__user {
            fill: var(--colour-text-inactive);
            width: 2.25rem;
            transition: 300ms all;
            pointer-events: none;
        }

            .Login__button__user.authorized {
                border-radius: 1.5rem;
            }

        /* Status indicator points sideways of user icon */
        .Login__button__indicator {
            fill: var(--colour-text-inactive);
            width: 1.5rem;
            transition: 300ms all;
            pointer-events: none;
        }
            /* Keeps indicator pointing at user to signal logged in status */
            .Login__button__indicator.authorized {
                fill: var(--colour-accent-primary);
                transform: rotate(90deg);
                transition: 300ms all;
            }

    .Login__button:hover
    > .Login__button__user {
        fill: var(--colour-accent-secondary);
        transition: 300ms all;
    }

    /* Turns indicator towards user icon */
    .Login__button:hover
    > .Login__button__indicator {
        transform: rotate(90deg);
        transition: 300ms all;
    }

        /* Resets indicator position to signal log off action */
        .Login__button.authorized:hover 
        > .Login__button__indicator.authorized {
            fill: var(--colour-text-inactive);
            transform: rotate(0deg);
            transition: 300ms all;
        }

/* ==================================================================================
                                Media breakpoints 
================================================================================== */
.Login.port {
    grid-column: 5 / -1;
    grid-row: 1 / 2;
}   
    

/* -------------------------------------------
                    Tablet
------------------------------------------- */
.Login.portable.port {
  
}


/* -------------------------------------------
                    Mobile
------------------------------------------- */
.Login.mobile.port {
    grid-column: 1 / 2;
    grid-row: 3 / -1;
    align-self: center;
    justify-self: center;
}

    .Login__button.mobile.port {
        display: flex;
        width: 4.5em;
    }

        .Login__button__indicator.mobile.port {
            transform: rotate(270deg);
        }

            .Login__button__indicator.mobile.port.authorized {
                transform: rotate(90deg) scaleY(-1);
            }


        .Login__button__user.mobile.port {
            width: 2.5rem;
        }

