::selection {
    background-color: var(--colour-text-inactive);
    color: var(--color-text-active);
}
  
.App {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    min-height: 100%;
    display: grid;
    grid-template-columns: 6.5rem 45vw auto;
    grid-template-rows: 3.5rem auto;
    column-gap: 1.5rem;
    row-gap: 2rem;
    background-color: var(--colour-background);
    color: var(--colour-text-inactive);
}
