.App {
  min-height: 100%;
  display: grid;
  grid-template-columns: 16% 84%;
  grid-template-rows: 6rem auto;
  padding: 0.5vw;
  background-color: var(--background);
  color: var(--options-font-inactive);
}

.App.en {
  grid-template-columns: 18% 82%;
}
