:root {
  /* For this app */
  --background: #f3eedd;
  --transparent: #00000000;
  --titles-font-colour: #138040;
  --titles-font-colour-fade: #13804085;
  --options-font-inactive: #0c3f42;
  --options-font-active: #aa5506;
  --options-font-highlight: #11773b;
  --options-font-highlight2: #c9b610;
  --border-lines: #9c9c9c;
  --extra-highlight: #da7516;
  --root-font-size: 16px;
    /* From main site */
  --color-bg: #312c2b;
  --color-accent-primary: rgb(187, 199, 21);
  --color-accent-secondary: rgb(42, 184, 124);
  --color-text: #cdcdcd;
  overflow: hidden;
  font-size: var(--root-font-size);
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@200&family=Hina+Mincho&family=Kaisei+Opti&family=M+PLUS+1p:wght@300&display=block');

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
