.Sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2rem auto;
    /* border: dashed 1px #cdcdcd; */
    margin: 0.5vw;
}