{% extends "projects/layout.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}     
<section 
    class="Projects">

    <div 
        class="Projects__description"
        role="main"
        aria-label="project description">
        <div
            id="projects-description-top">

            <div 
                class="Projects__description__title" 
                id="title-container">
                <div 
                    id="title-project-year-git">
                    <span
                        id="title-project-git">
                        <a 
                            href="{{ projects[0].git }}" 
                            target="_blank"
                            id="title-project-git-url">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                id="title-project-git-icon" 
                                style="fill: rgb({{ projects[0].rgb }}, 1.0);">
                                <path d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9a17.56 17.56 0 003.8.4c8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1a102.4 102.4 0 01-22.6 2.7c-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1a63 63 0 0025.6-6c2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8a18.64 18.64 0 015-.5c8.1 0 26.4 3.1 56.6 24.1a208.21 208.21 0 01112.2 0c30.2-21 48.5-24.1 56.6-24.1a18.64 18.64 0 015 .5c12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5a19.35 19.35 0 004-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z"/>
                            </svg>
                        </a>
                    </span>
                    <span
                        id="title-project-year">
                        {{ projects[0].year }}
                    </span>
                </div>
                <div 
                    id="title-text">
                    {{ projects[0].title }}
                </div>
            </div>

            <div 
                id="title-separator" 
                style="border-color: rgb({{ projects[0].rgb }}, 1.0); background: rgb({{ projects[0].rgb }}, 1.0)">
            </div>
                    
            <div 
                class="Projects__description__stats"
                id="stats-container">
                    
                <div 
                    class="Projects__description__stats__item">
                    <span
                        class="Projects__description__stats__title">
                        Back-end
                    </span> 
                    <div
                        id="stats-stack-backend">
                        {%- for item in projects[0].stack.backend -%}
                            {%- for name, url in item.items() -%}
                                <a 
                                    href="{{ url }}" 
                                    target="_blank"
                                    class="stack__button">
                                    {{ name }}
                                </a>
                            {%- endfor -%}
                        {%- endfor -%}
                    </div>
                </div>

                <div 
                    class="Projects__description__stats__item">
                    <span
                        class="Projects__description__stats__title">
                        Front-end
                    </span>
                    <div 
                        id="stats-stack-frontend">
                        {%- for item in projects[0].stack.frontend -%}
                            {%- for name, url in item.items() -%}
                                <a 
                                    href="{{ url }}" 
                                    target="_blank"
                                    class="stack__button">
                                    {{ name }}
                                </a>
                            {%- endfor -%}
                        {%- endfor -%}
                    </div>
                </div>

                <div 
                    class="Projects__description__stats__item">
                    <span
                        class="Projects__description__stats__title">
                        Tools
                    </span>
                    <div 
                        id="stats-stack-tools">
                        {%- for item in projects[0].stack.tools -%}
                            {%- for name, url in item.items() -%}
                                <a 
                                    href="{{ url }}" 
                                    target="_blank"
                                    class="stack__button">
                                    {{ name }}
                                </a>
                            {%- endfor -%}
                        {%- endfor -%}
                    </div>
                </div>

                <div 
                    class="Projects__description__content" 
                    id="content-container">
                    <div 
                        class="Projects__description__content__item"
                        id="project-objectives">
                        <span
                            id="content-objectives-title">
                            Objectives
                        </span>
                        <span
                            id="content-objectives">
                            {{ projects[0].objectives }}
                        </span>
                    </div>
                    <div 
                        class="Projects__description__content__item"
                        id="project-description">
                        <span
                            id="content-description-title">
                            Description
                        </span>
                        <span
                            id="content-description">
                            {{ projects[0].description }}
                        </span>
                    </div>
                </div>  
                
            </div>
        </div>

        
        <div
            id="projects-description-bottom">
            <div
                class="Projects__description__access"
                id="access-links">
                {%- for language in projects[0].url -%}
                    {%- for name, url in language.items() -%}
                        <a 
                            href="{{ url }}" 
                            target="_blank"
                            class="access__button">
                            {% if name == 'English' %}
                                OPEN
                            {% elif name == '日本語' %}
                                アクセス
                            {% endif %}
                        </a>
                    {%- endfor -%}
                {%- endfor -%}
            </div>
        </div>

    </div>


    <div 
        class="Projects__demo"
        role="main"
        aria-label="project demonstration video">
        <video 
            id="demo-video"
            poster="{{ projects[0].thumb }}"
            muted
            autoplay
            loop>
            <source
                id="demo-video-src"
                src="{{ projects[0].demo }}"
                type="video/webm"
                data-project-id="{{ projects[0]._id }}">
        </video>
    </div>


    <div
        class="Projects__selector"
        role="menubar"
        aria-label="projects selector">

        <div
            class="Projects__selector__container">
            {%- for project in projects -%}

                {% if project._id == projects[0]._id %}
                    {% set opacity = 0.25 %}
                {% else %}
                    {% set opacity = 1.00 %}
                {% endif %}
                    <div
                        class="Projects__selector__button__image__overlay"
                        data-project-id="{{ project._id }}"
                        style="background: rgb({{ project.rgb }}, 0.4);">
                        <img
                            class="Projects__selector__button__image" 
                            src="{{ project.thumb }}"
                            id="{{ project._id }}"
                            draggable="false"
                            data-project-id="{{ project._id }}"
                            style="opacity: {{ opacity }};">
                    </div>
            {%- endfor -%}
        </div>

        <button
            class="Projects__selector__scroller unavailable"
            id="scroller-left">
            <svg xmlns="http://www.w3.org/2000/svg" class="Projects__selector__scroller__icon" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M112 352l-64-64 64-64"/>
                <path d="M64 288h294c58.76 0 106-49.33 106-108v-20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
            </svg>
        </button>

        <button
            class="Projects__selector__scroller"
            id="scroller-right">
            <svg xmlns="http://www.w3.org/2000/svg" class="Projects__selector__scroller__icon" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M400 160l64 64-64 64"/>
                <path d="M448 224H154c-58.76 0-106 49.33-106 108v20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
            </svg>
        </button>

    </div>
</section>
{% endblock %}