{% extends "projects/layout.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}     
<section 
    class="Projects">


    <div 
        class="Projects__description"
        role="main"
        aria-label="project description">

        <div 
            class="Projects__description__title" 
            id="title-container">
            <div 
                id="title-project-year">
                {{ projects[0].year }}
            </div>
            <div 
                id="title-text">
                {{ projects[0].title }}
            </div>
        </div>

        <div 
            id="title-separator" 
            style="border-color: rgb({{ projects[0].rgb }}, 1.0);">
        </div>
                
        <div 
            class="Projects__description__content" 
            id="content-container">
            <div 
                class="Projects__description__content__item">
                <span>Objectives</span>
                <span
                    id="content-objectives">
                    {{ projects[0].objectives }}
                </span>
            </div>
            <div 
                class="Projects__description__content__item">
                <span>Description</span>
                <span
                    id="content-description">
                    {{ projects[0].description }}
                </span>
            </div>
        </div>

        <div 
            class="Projects__description__stats"
            id="stats-container">
                
            <div 
                class="Projects__description__stats__item">
                Back-end
                <div
                    id="stats-stack-backend">
                    {%- for item in projects[0].stack.backend -%}
                        {%- for name, url in item.items() -%}
                            <button
                                class="stack__button">
                                <a 
                                    href="{{ url }}" 
                                    target="_blank">
                                    {{ name }}
                                </a>
                            </button>
                        {%- endfor -%}
                    {%- endfor -%}
                </div>
            </div>

            <div 
                class="Projects__description__stats__item">
                Front-end
                <div 
                    id="stats-stack-frontend">
                    {%- for item in projects[0].stack.frontend -%}
                        {%- for name, url in item.items() -%}
                            <button
                                class="stack__button">
                                <a 
                                    href="{{ url }}" 
                                    target="_blank">
                                    {{ name }}
                                </a>
                            </button>
                        {%- endfor -%}
                    {%- endfor -%}
                </div>
            </div>

            <div 
                class="Projects__description__stats__item">
                Tools
                <div 
                    id="stats-stack-tools">
                    {%- for item in projects[0].stack.tools -%}
                        {%- for name, url in item.items() -%}
                            <button
                                class="stack__button">
                                <a 
                                    href="{{ url }}" 
                                    target="_blank">
                                    {{ name }}
                                </a>
                            </button>
                        {%- endfor -%}
                    {%- endfor -%}
                </div>
            </div>
            
        </div>

        <div
            class="Projects__description__access"
            id="access-links">
            {%- for language in projects[0].url -%}
                {%- for name, url in language.items() -%}
                    <button
                        class="access__button">
                        <a 
                            href="{{ url }}" 
                            target="_blank">
                            {% if name == 'English' %}
                                OPEN
                            {% elif name == '日本語' %}
                                アクセス
                            {% endif %}
                        </a>
                    </button>
                {%- endfor -%}
            {%- endfor -%}
        </div>
    </div>


    <div 
        class="Projects__demo"
        role="main"
        aria-label="project demonstration video">
        <video 
            id="demo-video"
            poster="{{ projects[0].thumb }}"
            muted
            autoplay
            loop>
            <source
                id="demo-video-src"
                src="{{ projects[0].demo }}"
                type="video/webm"
                data-project-id="{{ projects[0]._id }}">
        </video>
    </div>


    <div
        class="Projects__selector"
        role="menubar"
        aria-label="projects selector">
    
        <div
            class="Projects__selector__container">
            {%- for project in projects -%}

                {% if project._id == projects[0]._id %}
                    {% set opacity = 0.25 %}
                {% else %}
                    {% set opacity = 1.00 %}
                {% endif %}
                    <div
                        class="Projects__selector__button__image__overlay"
                        data-project-id="{{ project._id }}"
                        style="background: rgb({{ project.rgb }}, 0.6);">
                        <img
                            class="Projects__selector__button__image" 
                            src="{{ project.thumb }}"
                            id="{{ project._id }}"
                            data-project-id="{{ project._id }}"
                            style="opacity: {{ opacity }};">
                    </div>
            {%- endfor -%}
        </div>
    </div>
</section>
{% endblock %}