{% extends "projects/layout.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}     
<section class="projects">

    <div class="projects_labels">
        <div class="projects_labels_track">
            <div class="projects_labels_track_months">
                JAN
            </div>
            <div class="projects_labels_track_months">
                APR
            </div>
            <div class="projects_labels_track_months">
                JUL
            </div>
            <div class="projects_labels_track_months">
                OCT
            </div>
        </div>
    </div>

    <div class="projects_timeline">

        <div class="projects_timeline_year" id="projects_timeline_year_2021">
            <span class="projects_timeline_year_title">
                2021
            </span>
            {% include "projects/grid_year.html" %}
        </div>

        <div class="projects_timeline_year" id="projects_timeline_year_2020">
            <span class="projects_timeline_year_title">
                2020
            </span>
            {% include "projects/grid_year.html" %}
        </div>

        <div class="projects_timeline_year" id="projects_timeline_year_2019">
            <span class="projects_timeline_year_title">
                2019
            </span>
            {% include "projects/grid_year.html" %}
        </div>

    </div>

    <div class="projects_content">
        <div class="projects_content_main">
            <div id="projects_content_main_title">
                Title: 
            </div>
            <div id="projects_content_main_components">
                Components:
            </div>
            <div id="projects_content_main_year">
                Year: 
            </div>
            <div id="projects_content_main_season">
                Season: 
            </div>
            <div id="projects_content_main_git">
                Git: 
            </div>
            <div id="projects_content_main_url">
                URL: 
            </div>
            <div id="projects_content_main_stack">
                Stack: 
            </div>
            <div id="projects_content_main_language">
                Language: 
            </div>
            <div id="projects_content_main_description">
                Description:
            </div>
        </div>

        <div class="projects_content_sub">
            <div id="projects_content_sub_title">
                Title: 
            </div>
            <div id="projects_content_sub_componentOf">
                Component of:
            </div>
            <div id="projects_content_sub_year">
                Year:
            </div>
            <div id="projects_content_sub_season">
                Season: 
            </div>
            <div id="projects_content_sub_git">
                Git: 
            </div>
            <div id="projects_content_sub_stack">
                Stack:
            </div>
            <div id="projects_content_sub_description">
                Description: 
            </div>
        </div>
    </div>

</section>
{% endblock %}