.SideFilmStrip__image-enlarger {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 100%;
    display: grid;  /*          metadata panel*/
    grid-template-columns: 15rem auto;
    grid-template-rows: 100%;
    column-gap: 1rem;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    animation-name: image-enlarger-hide;
    animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

    @keyframes image-enlarger-hide {
        0% {
            opacity: 1;
            z-index: 2;
        }

        99% {
            opacity: 0.05;
            z-index: 2
        }

        100% {
            opacity: 0;
            z-index: 0;
        }
    }

    .SideFilmStrip__image-enlarger.show {
        animation-name: image-enlarger-show;
        animation-duration: 350ms;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        z-index: 2;
    }

        @keyframes image-enlarger-show {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

    .SideFilmStrip__image-enlarger.hide {
        animation-name: image-enlarger-hide;
        animation-duration: 350ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .SideFilmStrip__image-enlarger__image {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: row-reverse;
        pointer-events: none;
        overflow: hidden;
    }

        #enlarged-image {
            max-width: 100%;
            max-height: 100%;
            align-self: flex-start;
            object-fit: contain;
            pointer-events: none;
            border: white 2rem solid;
        }
        
    .enlarged-image__nav-buttons__container {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        display: grid;
        height: 2rem;
        grid-template-columns: repeat(4, 2rem);
        grid-template-rows: 2rem;
        justify-content: flex-end;
        pointer-events: none;
    }
        .enlarged-image__nav-buttons {
            display: flex;
            opacity: 0.40;
            background: none;
            border: none;
            align-self: center;
            justify-self: end;
            pointer-events: auto;
            cursor: pointer;
            pointer-events: auto;
            transition: all 300ms;
        }  
            .enlarged-image__nav-buttons:hover {
                opacity: 1;
                transition: all 300ms;
            } 

            #enlarger-previous {
                grid-column: 1;
            }

            #enlarger-full-screen {
                grid-column: 2;
            }

            #enlarger-next {
                grid-column: 3;
            }

            .enlarged-image__nav-buttons svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: var(--colour-text-inactive);
                pointer-events: none;
            }
    

    .SideFilmStrip__image-enlarger__metadata {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        text-align: right;
    }
        
        .SideFilmStrip__image-enlarger__metadata span {
            font-family: 'Barlow Semi Condensed', sans-serif;
        }
            /* For category names. */
            .image-enlarger__metadata-name {
                font-size: 1.55rem;
            }

            /* For category values. */
            .image-enlarger__metadata-value {
                font-size: 1.15rem;
            }

            .SideFilmStrip__image-enlarger__metadata-category {
                display: flex;
                flex-direction: column;
                padding-bottom: 1rem;
            }


/* ==================================================================================
                                Media breakpoints 
================================================================================== */
.SideFilmStrip__image-enlarger.port {
    /* grid-template-columns: 100%; */
    grid-template-rows: 60% 40%;
}

    .SideFilmStrip__image-enlarger__image.port {
        /* spacing expl.        year     gap      film strip */
        max-width: calc(100vw - 6.5rem - 1.5rem - 10rem);
        max-height: 100%;
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-self: flex-start;
        justify-content: flex-start;
        align-self: flex-start;
    }

        .SideFilmStrip__image-enlarger__image.port 
            #enlarged-image {
            align-self: unset;
        }

    .SideFilmStrip__image-enlarger__metadata.port {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
    }

        .SideFilmStrip__image-enlarger__metadata-category.port .image-enlarger__metadata-name,
        .SideFilmStrip__image-enlarger__metadata-category.port .image-enlarger__metadata-value {
            grid-row: unset;
        }


/* -------------------------------------------
                Tablets
------------------------------------------- */
.SideFilmStrip__image-enlarger__image.port {
    /* spacing expl.        year     gap      film strip */
    max-width: calc(100vw - 6.5rem - 1.5rem - 10rem);
}

    .SideFilmStrip__image-enlarger__image.portable.port 
        #enlarged-image {
        max-width: 100%;
        max-height: 100%;
        align-self: flex-start;
        object-fit: contain;
        pointer-events: auto;
        border: white 2rem solid;
    }

    .SideFilmStrip__image-enlarger__metadata-category.portable.port 
        .image-enlarger__metadata-name {
            font-size: 1.2rem;
        }

    .SideFilmStrip__image-enlarger__metadata-category.portable.port 
        .image-enlarger__metadata-value {
            font-size: 1rem;
    }

/* -------------------------------------------
                    Mobile
------------------------------------------- */
.SideFilmStrip__image-enlarger.mobile.port {
    grid-template-columns: 100%;
    grid-template-rows: 3rem  calc(100% - 3rem);
}

    .SideFilmStrip__image-enlarger__image.mobile.port {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        max-width: 95%;
        justify-self: center;
        justify-content: center;
        align-items: flex-end;
    }

        .enlarged-image__nav-buttons__container.mobile.port {
            grid-column: 1 / -1;
            grid-row: 2 / -1;
            grid-template-columns: repeat(3, 5rem);
            grid-template-rows: 2rem;
            justify-content: center;
        }

        .enlarged-image__nav-buttons__container.mobile.port 
            .enlarged-image__nav-buttons {
            justify-self: center;
        }

        .SideFilmStrip__image-enlarger__image.mobile.port 
            #enlarged-image {
            border: white 2rem solid;
        }

    .SideFilmStrip__image-enlarger__metadata.mobile.port {
        width: 100%;
        height: 100%;
        display: grid;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        grid-template-columns: 60% 40%;
        grid-template-rows: 100%;
        justify-self: center;
    }

    .SideFilmStrip__image-enlarger__metadata-category.mobile.port span {
        font-size: 1.85rem;
    }

    /* Disable categories in mobile */
    .SideFilmStrip__image-enlarger__metadata-category.mobile.port {
        display: none;
    }

    .SideFilmStrip__image-enlarger__metadata.mobile.port 
        #image-enlarger__Format,
    .SideFilmStrip__image-enlarger__metadata.mobile.port 
        #image-enlarger__Date {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 1rem;
    }

    .SideFilmStrip__image-enlarger__metadata-category.mobile.port 
        .image-enlarger__metadata-name {
        display: none;
    }
