.ImageFrame {
    display: flex;
    pointer-events: all;
    user-select: all;
    cursor: pointer;
}

    .ImageFrame__image {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 0.25rem;
        
    }