.SideFilmStrip__image-enlarger {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 100%;
    display: grid;  /*          metadata panel*/
    grid-template-columns: 15rem auto;
    grid-template-rows: 100%;
    column-gap: 1rem;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    animation-name: image-enlarger-hide;
    animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

    @keyframes image-enlarger-hide {
        0% {
            opacity: 1;
            z-index: 2;
        }

        99% {
            opacity: 0.05;
            z-index: 2
        }

        100% {
            opacity: 0;
            z-index: 0;
        }
    }

    .SideFilmStrip__image-enlarger.show {
        animation-name: image-enlarger-show;
        animation-duration: 350ms;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        z-index: 2;
    }

        @keyframes image-enlarger-show {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

    .SideFilmStrip__image-enlarger.hide {
        animation-name: image-enlarger-hide;
        animation-duration: 350ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .SideFilmStrip__image-enlarger__image {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: row-reverse;
        pointer-events: none;
        overflow: hidden;
    }

        #enlarged-image {
            max-width: 100%;
            max-height: 100%;
            align-self: flex-start;
            object-fit: contain;
            pointer-events: none;
            border: white 2rem solid;
        }
        
    .enlarged-image__border-buttons__container {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        display: grid;
        height: 2rem;
        grid-template-columns: 10rem repeat(7, 2rem);
        grid-template-rows: 2rem;
        justify-content: flex-end;
        pointer-events: none;
    }
        .enlarged-image__border-buttons {
            grid-row: 1;
            display: flex;
            opacity: 0.40;
            background: none;
            border: none;
            align-self: center;
            justify-self: end;
            pointer-events: auto;
            cursor: pointer;
            pointer-events: auto;
            transition: all 300ms;
        }  
            .enlarged-image__border-buttons:hover {
                opacity: 1;
                transition: all 300ms;
            }

            #enlarger-border-save-response-message.show {
                opacity: 1;
                transition: all 300ms;
            }

            #enlarger-border-save-response-message {
                grid-column: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                opacity: 0;
                font-family: 'Barlow Semi Condensed', sans-serif;
                font-size: 0.75rem;
                transition: all 300ms;
            }
            
            #enlarger-border-save-status {
                grid-column: 2;
            }

            #enlarger-border-save-edits {
                grid-column: 3;
            }

            #enlarger-border-clear-edits {
                grid-column: 4;
            }

            #enlarger-border-previous {
                grid-column: 5;
            }

            #enlarger-border-full-screen {
                grid-column: 6;
            }

            #enlarger-border-next {
                grid-column: 7;
            }

            .enlarged-image__border-buttons svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: var(--colour-text-inactive);
                pointer-events: none;
            }

            /* For form icons: activates when form has populated fields */
            .enlarged-image__border-buttons.available {
                opacity: 0.6;
                transition: all 300ms;
            }

                .enlarged-image__border-buttons.available:hover {
                    opacity: 1;
                }

                #enlarger-border-save-edits.available svg {
                    fill: var(--colour-accent-primary);
                    transition: all 300ms;
                }

                #enlarger-border-clear-edits.available svg {
                    fill: #1e38cf;
                    transition: all 300ms;
                }

                #enlarger-border-save-status.green svg {
                    fill: #37ad3d;
                    transition: all 300ms;
                }

                #enlarger-border-save-status.amber svg {
                    fill: #e9b610;
                    transition: all 300ms;
                }
                
                #enlarger-border-save-status.red svg {
                    fill: #da482f;
                    transition: all 300ms;
                }
                
            .enlarged-image__border-buttons.unavailable {
                cursor: not-allowed;
            }
    

    .SideFilmStrip__image-enlarger__metadata {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        text-align: right;
    }
        
        .SideFilmStrip__image-enlarger__metadata span,
        .SideFilmStrip__image-enlarger__metadata label,
        .SideFilmStrip__image-enlarger__metadata input,
        .SideFilmStrip__image-enlarger__metadata textarea {
            font-family: 'Barlow Semi Condensed', sans-serif;
        }
            /* For category names. */
            .image-enlarger__metadata-name {
                font-size: 1.55rem;
            }

            /* For category values. */
            .image-enlarger__metadata-value {
                font-size: 1.15rem;
            }

                /* Edit mode. */
                .image-enlarger__metadata-value.edit {
                    background: none;
                    border-width: 0.15rem;
                    border-color: var(--colour-border);
                    border-style: dotted;
                    border-top: 0;
                    border-right: 0;
                    color: #000000;
                    text-align: inherit;
                    user-select: all;
                    pointer-events: all;
                }
                    /* Indicate input field is in focus. */
                    .image-enlarger__metadata-value.edit:focus {
                        border-width: 0.20rem;
                        border-color: var(--colour-accent-secondary);
                        border-style: dashed;
                        border-top: 0;
                        border-right: 0;
                        outline: 0;
                        caret-color: var(--colour-accent-secondary);

                    }
                    /* Indicate input field has value. */
                    .image-enlarger__metadata-value.edit:not(:placeholder-shown) {
                        border-width: 0.20rem;
                        border-color: var(--colour-accent-primary);
                        border-style: dashed;
                        border-top: 0;
                        border-right: 0;
                    }

            .SideFilmStrip__image-enlarger__metadata-category {
                display: flex;
                flex-direction: column;
                padding-bottom: 1rem;
            }


/* ==================================================================================
                                Media breakpoints 
================================================================================== */
.SideFilmStrip__image-enlarger.port {
    /* grid-template-columns: 100%; */
    grid-template-rows: 60% 40%;
}

    .SideFilmStrip__image-enlarger__image.port {
        /* spacing expl.        year     gap      film strip */
        max-width: calc(100vw - 6.5rem - 1.5rem - 10rem);
        max-height: 100%;
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-self: flex-start;
        justify-content: flex-start;
        align-self: flex-start;
    }

        .SideFilmStrip__image-enlarger__image.port 
            #enlarged-image {
            align-self: unset;
        }

    .SideFilmStrip__image-enlarger__metadata.port {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
    }

        .SideFilmStrip__image-enlarger__metadata-category.port .image-enlarger__metadata-name,
        .SideFilmStrip__image-enlarger__metadata-category.port .image-enlarger__metadata-value {
            grid-row: unset;
        }


/* -------------------------------------------
                Tablets
------------------------------------------- */
.SideFilmStrip__image-enlarger__image.port {
    /* spacing expl.        year     gap      film strip */
    max-width: calc(100vw - 6.5rem - 1.5rem - 10rem);
}

    .SideFilmStrip__image-enlarger__image.portable.port 
        #enlarged-image {
        max-width: 100%;
        max-height: 100%;
        align-self: flex-start;
        object-fit: contain;
        pointer-events: auto;
        border: white 2rem solid;
    }

    .SideFilmStrip__image-enlarger__metadata-category.portable.port 
        .image-enlarger__metadata-name {
            font-size: 1.2rem;
        }

    .SideFilmStrip__image-enlarger__metadata-category.portable.port 
        .image-enlarger__metadata-value {
            font-size: 1rem;
    }

/* -------------------------------------------
                    Mobile
------------------------------------------- */
.SideFilmStrip__image-enlarger.mobile.port {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

    .SideFilmStrip__image-enlarger__image.mobile.port {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        max-width: 95%;
        justify-self: center;
        justify-content: center;
        align-items: flex-end;
    }

        .enlarged-image__nav-buttons__container.mobile.port {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            grid-template-columns: repeat(3, 5rem);
            grid-template-rows: 2rem;
            column-gap: 1rem;
            justify-self: center;
            align-self: flex-end;
        }

        .enlarged-image__nav-buttons__container.mobile.port 
            .enlarged-image__nav-buttons {
            justify-self: center;
        }

        .SideFilmStrip__image-enlarger__image.mobile.port 
            #enlarged-image {
            border: white 2rem solid;
        }

    .SideFilmStrip__image-enlarger__metadata.mobile.port {
        width: 100%;
        height: 100%;
        display: grid;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        grid-template-columns: 60% 40%;
        grid-template-rows: 100%;
        justify-self: center;
    }

    .SideFilmStrip__image-enlarger__metadata-category.mobile.port span {
        font-size: 1.85rem;
    }

    /* Disable categories in mobile */
    .SideFilmStrip__image-enlarger__metadata-category.mobile.port {
        display: none;
    }

    /* .SideFilmStrip__image-enlarger__metadata.mobile.port 
        #image-enlarger__Format,
    .SideFilmStrip__image-enlarger__metadata.mobile.port 
        #image-enlarger__Date {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 1rem;
    } */

    .SideFilmStrip__image-enlarger__metadata-category.mobile.port 
        .image-enlarger__metadata-name {
        display: none;
    }
