.SideFilmStrip {
    grid-column: 2 / 6;
    grid-row: 2 / -1;
    height: 100%;
    display: grid;  /* spacing expl.   film strip + expanded */
    grid-template-columns: calc(100% - 21rem) auto;
    grid-template-rows: 100%;
    column-gap: 2rem;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    animation-name: fetch-loaded;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    z-index: 2;
}

    @keyframes fetch-loaded {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .SideFilmStrip.loading {
        opacity: 0;
    }

    .SideFilmStrip__image-enlarger-container {
        grid-column: 1 / 2;
        grid-row: 1;
        position: relative;
        width: 85%;
        display: grid;      /*                  bottom toolbar spacing buffer */ 
        grid-template-rows: calc(100% - 5.5rem) 5.5rem;
        grid-template-columns: auto;
        justify-content: flex-end;
        justify-self: flex-end;
        pointer-events: none;
        animation-name: hide-strip-panel;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    }

    .SideFilmStrip__film-strip {
        grid-column: 2 / 3;
        grid-row: 1;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.85rem;
        row-gap: 0.85rem;
        padding-bottom: 1rem;
        pointer-events: all;
        overflow-y: auto;
        animation-name: hide-strip-panel;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    }
        @keyframes hide-strip-panel {
            0% {
                left: 0rem;
            }

            100% {
                left: 10.2rem;
            }
        }

        /* Hovering over film strip shifts image enlarger to the left. */
        .SideFilmStrip__image-enlarger-container.slide {
            animation-name: reveal-strip-panel;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
        }

        .SideFilmStrip__film-strip.expand {
            animation-name: reveal-strip-panel;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
        }

        @keyframes reveal-strip-panel {
            0% {
                left: 10.2rem;
            }

            100% {
                left: 0;
            }

        }
    
    /* Film strip scrollbar */
    .SideFilmStrip__film-strip::-webkit-scrollbar {
        width: 0.75rem;
        height: 0.75rem;
    }
        /* Scroll track above thumb */
        .SideFilmStrip__film-strip::-webkit-scrollbar-track-piece {
            background-color: var(--colour-transparent);
        }
        /* Scroll track below thumb */
        .SideFilmStrip__film-strip::-webkit-scrollbar-track {
            background-color: var(--colour-transparent);
        }
        /* Scroll "pong" bar */
        .SideFilmStrip__film-strip::-webkit-scrollbar-thumb {
            background-color: var(--colour-accent-primary);
            border-radius: 0.325rem;
        }
        .SideFilmStrip__film-strip::-webkit-scrollbar-thumb:hover {
            background-color: var(--colour-accent-secondary);
        }
        .SideFilmStrip__film-strip::-webkit-scrollbar-corner {
            background-color: var(--colour-background);
        }

.SideFilmStrip__slide-mode-overlay {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4rem calc(100% - 9rem) 5rem;
    column-gap: 1rem;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.985);
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 2;
}

    .SideFilmStrip__slide-mode-overlay.show {
        animation-name: switch-on-slide-view;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }

    @keyframes switch-on-slide-view {
        0% {
            cursor: none;
            pointer-events: none;
            opacity: 0;
            z-index: 2;
        }

        100% {
            cursor: zoom-out;
            pointer-events: auto;
            opacity: 1;
            z-index: 3;
        }

    }

    .SideFilmStrip__slide-mode-overlay.hide {
        animation-name: switch-off-slide-view;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }

    @keyframes switch-off-slide-view {
        0% {
            cursor: zoom-out;
            pointer-events: auto;
            opacity: 1;
            z-index: 3;
        }

        100% {
            cursor: none;
            pointer-events: none;
            opacity: 0;
            z-index: 2;
        }
    }

    #enlarged-image-slide-view {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        justify-self: center;
        border: white 2rem solid;
    }

    .slide-mode-overlay__nav-buttons {
        grid-row: 3 / -1;
        display: flex;
        width: 2.5rem;
        height: 2.5rem;
        background: none;
        border: none;
        opacity: 0.6;
        align-items: center;
        cursor: pointer;
        pointer-events: auto;
        transition: all 300ms;
        z-index: 4;
    }

        .SideFilmStrip__slide-mode-overlay.hide
            > .slide-mode-overlay__nav-buttons {
            cursor: none;
            pointer-events: none;
            z-index: 0;
        }

        .slide-mode-overlay__nav-buttons:hover {
            opacity: 1;
            transition: all 300ms;
        }

            .slide-mode-overlay__nav-buttons:hover
                > svg {
                fill: var(--colour-accent-secondary);
                transition: all 300ms;
            } 

        #slide-mode-nav-previous {
            justify-self: flex-end;
            justify-content: center;;
        }

        #slide-mode-nav-next {
            justify-self: flex-start;
            justify-content: center;
        }

        .slide-mode-overlay__nav-buttons svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: var(--colour-text-inactive);
            pointer-events: none;
        }

/* ==================================================================================
                                Media breakpoints 
================================================================================== */
.SideFilmStrip.port {
    grid-column: 1 / 6;
    grid-template-columns: calc(100% - 12rem) auto;
}   
    /* --------------------------------------------------
        Disable styling related to 2-column film strip.
    ---------------------------------------------------*/
    .SideFilmStrip__image-enlarger-container.port {
        grid-template-columns: 15rem calc(100% - 24rem);
        animation-name: none;
    }
    
    .SideFilmStrip__film-strip.port {
        animation-name: none;
    }

    .SideFilmStrip__image-enlarger-container.port.slide {
        animation-name: none;
    }

    .SideFilmStrip__film-strip.port.expand {
        animation-name: none;
    }

/* -------------------------------------------
                    Tablet
------------------------------------------- */
.SideFilmStrip__image-enlarger-container.portable.port {
    grid-template-columns: 15rem calc(100% - 23rem);
}


/* -------------------------------------------
                    Mobile
------------------------------------------- */
.SideFilmStrip.mobile.port {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    min-height: 100%;
    position: absolute;
    grid-template-columns: 100%;
    grid-template-rows: calc(100% - 12rem) 9rem;
    row-gap: 2.5rem;
}
    .SideFilmStrip__image-enlarger-container.mobile.port {
        max-height: 60%;
        grid-template-columns: unset;
        grid-template-rows: 100%;
        justify-content: center;
        align-self: flex-end;
    }

    .SideFilmStrip__film-strip.mobile.port {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        flex-direction: row;
        flex-wrap: nowrap;
        animation-name: none;
    }

.SideFilmStrip__slide-mode-overlay.mobile.port.show {
    grid-template-rows: 4rem calc(100% - 13rem) 5rem;
    column-gap: 3rem;
}

    .SideFilmStrip__slide-mode-overlay.mobile.port.show 
        .slide-mode-overlay__nav-buttons {
            width: 5rem;
            height: 5rem;
    }

        .SideFilmStrip__slide-mode-overlay.mobile.port.show 
            .slide-mode-overlay__nav-buttons svg {
                width: 2.5rem;
                height: 2.5rem;
                fill: white;
        }