.FilterDrawer {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    padding-left: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    animation-name: filterDrawer-hide;
    animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}    

    @keyframes filterDrawer-hide {
        0% {
            opacity: 1;
            z-index: 2;
        }

        99% {
            opacity: 0.05;
            z-index: 2
        }

        100% {
            opacity: 0;
            z-index: 0;
        }
    }
    
    .FilterDrawer.show {
        animation-name: filterDrawer-show;
        animation-duration: 350ms;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        z-index: 2;
    }

        @keyframes filterDrawer-show {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

    .FilterDrawer__parameters-container {
        display: grid;
        row-gap: 1rem;
        column-gap: 1.5rem;
        grid-template-columns: 36% 50% auto;
        grid-template-rows: repeat(5, 1fr);
    }

        .FilterDrawer__parameters {
            display: grid;
            grid-template-rows: 2.5rem auto;
        }
            #format {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            #film {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            #camera {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }

            #lens {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
            }

            #focalLength {
                grid-column: 1 / 2;
                grid-row: 5 / 6;
            }

            #tags {
                grid-column: 2 / 3;
                grid-row: 1 / -1;
            }

        .FilterDrawer__header {
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-size: 1.50rem;
            font-weight: 400;
            color: var(--colour-text-inactive);
        }

        .FilterDrawer__options {
            display: flex;
            flex-wrap: wrap;
            column-gap: 0.25rem;
            row-gap: 0.25rem;
            align-content: start;
            justify-content: start;
        }
    
    .FilterDrawer__reset {
        background: none;
        border: none;
        display: block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: calc(50vw - 1.5rem);      /* minus half of button width */
        align-self: end;
        justify-self: center;
        pointer-events: all;
        cursor: pointer;
    }

        .FilterDrawer__reset svg {
            width: 100%;
            height: 100%;
            fill: var(--colour-text-inactive);
            transition: all 350ms;
            pointer-events: none;
        }

        .FilterDrawer__reset:hover svg {
            fill: var(--colour-accent-secondary);
        }

        .FilterDrawer__reset.unavailable {
            cursor: no-drop;
        }

        .FilterDrawer__reset.unavailable svg {
            fill: hsla(0, 0%, 25%, 0.3);
        }
        
        .FilterDrawer__reset.unavailable:hover svg {
            fill: hsla(0, 0%, 25%, 0.3);
        }