.FilterDrawer {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: grid;
    padding-left: 7.5rem;
    padding-right: 50vw;
    /* grid-template-rows: repeat(1fr, 3) 35%; */
    font-family: 'Barlow Condensed', sans-serif;
    z-index: 1;
}

    .FilterDrawer__parameters-container {
        display: grid;
        row-gap: 2rem;
        column-gap: 2rem;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 20% 10% auto;
    }

        .FilterDrawer__parameters {
            display: grid;
            grid-template-rows: 2.5rem auto;
        }
            #format {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            #film {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            #camera {
                grid-column: 2 / -1;
                grid-row: 1 / 2;
            }

            #lens {
                grid-column: 2 / -1;
                grid-row: 2 / 3;
            }

            #focalLength {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }

            #tags {
                grid-column: 1 / -1;
                grid-row: 4 / -1;
            }

        .FilterDrawer__header {
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-size: 1.50rem;
            font-weight: 400;
            color: var(--colour-text-active);
        }

        .FilterDrawer__options {
            display: flex;
            flex-wrap: wrap;
            column-gap: 0.25rem;
            row-gap: 0.25rem;
            align-content: start;
            justify-content: start;
        }