.FilterDrawer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}    
    
    .FilterDrawer.show {
        animation-name: filterDrawer-show;
        animation-duration: 350ms;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        z-index: 2;
    }

        @keyframes filterDrawer-show {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

    .FilterDrawer.hide {
        animation-name: filterDrawer-hide;
        animation-duration: 350ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

        @keyframes filterDrawer-hide {
            0% {
                opacity: 1;
                z-index: 2;

            }
            99% {
                opacity: 0.05;
                z-index: 2
            }

            100% {
                opacity: 0;
                z-index: 0;
            }
        }

    .FilterDrawer__parameters-container {
        display: grid;
        row-gap: 2rem;
        column-gap: 2rem;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, 1fr);
    }

        .FilterDrawer__parameters {
            display: grid;
            grid-template-rows: 2.5rem auto;
        }
            #format {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            #film {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            #camera {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }

            #lens {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
            }

            #focalLength {
                grid-column: 1 / 2;
                grid-row: 5 / 6;
            }

            #tags {
                grid-column: 2 / -1;
                grid-row: 1 / -1;
            }

        .FilterDrawer__header {
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-size: 1.50rem;
            font-weight: 400;
            color: var(--colour-text-inactive);
        }

        .FilterDrawer__options {
            display: flex;
            flex-wrap: wrap;
            column-gap: 0.25rem;
            row-gap: 0.25rem;
            align-content: start;
            justify-content: start;
        }