.Sidebar_regions_selected {
    display: none;
}

.Sidebar_regions_selected.open {
    display: grid;
    border-bottom: solid 1px var(--border-lines);
    margin-bottom: 2vw;
    animation-name: gradual-reveal;
    animation-fill-mode: forwards;
    animation-duration: 400ms;
    animation-timing-function: ease-in;
}
@keyframes gradual-reveal {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.Sidebar_regions_selected_header {
    justify-self: center;
    font-family: "Kaisei Opti", serif;
    font-size: 1.35rem;
    color: var(--options-font-inactive);
    padding-bottom: 0.75vw;
}

.Sidebar_regions_selected_category {
    justify-self: right;
    padding-bottom: 0.75vw;
}

.Sidebar_regions_selected_category_name {
    display: flex;
    flex-direction: row-reverse;
    font-family: "Kaisei Opti", serif;
    font-size: 1.35rem;
    color: var(--titles-font-colour);
    user-select: none;
}
