::selection {
    background-color: var(--colour-text-inactive);
    color: var(--color-text-active);
}
  
.App {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3rem auto;
    padding: 1rem;
    background-color: var(--colour-background);
    color: var(--colour-text-inactive);
}
  