:root {
    --colour-background: hsl(0, 0%, 61%);
    --colour-transparent: #00000000;
    --colour-title: hsl(60, 75%, 70%);
    --colour-text-active: hsl(60, 60%, 95%);
    --colour-text-inactive: hsl(0, 0%, 25%);
    --colour-text-highlight: hsl(24, 83%, 50%);
    --colour-border: hsl(0, 0%, 25%);
    --colour-accent-primary: hsl(24, 83%, 50%);
    --colour-accent-secondary: hsl(49, 98%, 67%);
    --root-font-size: 16px;
    overflow: hidden;
    font-size: var(--root-font-size);
  }
  
  /* Import fonts */
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;400&family=Grenze:wght@200&display=swap');
   
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #root {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3.5rem auto;
  }