/* ----------------------------------------------------------------- */
/*                      Portrait view - general                      */
/* ----------------------------------------------------------------- */
@media screen and (orientation: portrait) {

    :root {
        --root-font-size: 14px;
    }

    .container.show {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .index_cityscape {
        width: 80%;
        height: 90vh;
        padding: 2rem;
    }

    .index_about {
        padding: 20vh 10vw 20vh 10vw;
    }
}


/* ----------------------------------------------------------------- */
/*               Portrait view - non-mobile screens                  */
/* ----------------------------------------------------------------- */
@media screen and (orientation: portrait)
    /* and (-webkit-min-device-pixel-ratio: 1.5)  */
    and (min-width: 700px)
    and (max-width: 1200px) {

    :root {
        --root-font-size: 14px;
    }
    
    .index_cityscape {
        width: 70%;
        padding: 3rem;
    }
}


/* ----------------------------------------------------------------- */
/*                Portrait view - high-res tablets                   */
/* ----------------------------------------------------------------- */
@media screen
    and (-webkit-min-device-pixel-ratio: 1.5) 
    and (min-width: 700px)
    and (max-width: 1200px) {

    :root {
        --root-font-size: 14px;
    }
}


/* ----------------------------------------------------------------- */
/*          Landscape view - under 1920x1080, high-res               */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1.5)
    and (max-width: 1800px) {
    
    :root {
        --root-font-size: 14px;
    }

    .index_cityscape {
        width: 70%;
    }
}


/* ----------------------------------------------------------------- */
/*            Landscape view - 2560x1440 plus, high-res              */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    /* and (-webkit-min-device-pixel-ratio: 1.5)  */
    and (min-width: 2400px) {
        
    :root {
        --root-font-size: 24px;
    }
}


/* ----------------------------------------------------------------- */
/*              Landscape view - 3840x2160, high-res                 */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    /* and (-webkit-min-device-pixel-ratio: 1.5)  */
    and (min-width: 3600px) {
    
    :root {
        --root-font-size: 40px;
    }
}
