/* ----------------------------------------------------------------- */
/*                              Landing                              */
/* ----------------------------------------------------------------- */
body {
    --color-bg: #312c2b;
    --color-accent-primary: rgb(187, 199, 21);
    --color-accent-secondary: rgb(42, 184, 124);
    --color-text: #cdcdcd;
    background: var(--color-bg);
}

.container {        /* during initial loading screen */
    display: none
}
    .container.fade {
        animation-name: container-fade-in;
        animation-duration: 2000ms;
    }
    @keyframes container-fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .container.show {       /* after loading screen lifts */
        display: grid;
        /* min-height: 240vh; */
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

.index {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    background: var(--color-bg);
    grid-template-columns: 100%;
    grid-template-rows: auto;       /* allows row to grow with zooming effect */
    justify-items: center;
}

.index_cityscape {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    width: 50%;
    height: 120vh;      /* sizes the layered images */
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    margin-top: 3rem;
    border: #000000 double 4px;
    padding: 3rem;
    background: #000000;
    justify-items: center;
    /* -------  x      y      blur   spread  colour -------- */
    box-shadow: 0.5rem 0.5rem 0.9rem 0.05rem rgba(0, 0, 0, 0.3);
    transition: all 250ms ease-in-out;
}
    .index_cityscape_layers {
        position: relative;
        width: 100%;        /* Fits images into parent div */
        grid-column: 1;
        grid-row: 1;
        align-self: flex-end;
        pointer-events: none;
    }
 
    #layer1 {
        z-index: 11;
    }

    #layer2 {
        z-index: 11;
    }

    #layer3 {
        z-index: 10;
    }

    #layer4 {
        z-index: 9;
    }
    #layer5 {
        z-index: 8;
    }
     
    #layer6 {
        z-index: 7;
    }

    #layer7 {
        z-index: 6;
    }
    
    #layer8 {
        z-index: 5;
    }

    #layer9 {
        z-index: 4;
    }

    #layer10 {
        z-index: 3;
    }

    #layer11 {
        filter: blur(1px);
        z-index: 2;
    }

    #layer12 {
        filter: blur(2px);
        z-index: 1;
    }

    #index_cityscape_layers_bg {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        border: solid grey 1px;
        box-shadow: 0.08rem 0.08rem 0.05rem rgb(0 0 0 / 30%) inset;
    }


/* ----------------------------------------------------------------------- */
/*                             Header + Navbar                             */
/* ----------------------------------------------------------------------- */
.header {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    align-items: flex-end;
}
    .header_menu {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        display: grid;
        height: 3rem;
        top: 0;
        position: sticky;
        grid-template-columns: auto 2.5rem;
        grid-template-rows: 100%;
        background: transparent;
        align-self: flex-start;
        align-items: flex-start;
        user-select: none;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        transition: all 300ms ease-in-out;
        z-index: 1;
    }
        .header_menu.toggle {
            background: #000000;
            transition: all 300ms ease-in-out;
        }
        #header_menu_list {
            grid-row: 1;
            display: grid;
            width: 100%;
            height: 100%;
            grid-auto-flow: column;
            opacity: 0;
            user-select: none;
            pointer-events: none;
            transition: opacity 300ms ease-in-out;
        }
            #header_menu_list.toggle {
                opacity: 1;
                pointer-events: all;
                transition: opacity 300ms ease-in-out;
            }        
            #header_menu_list li {
                height: 100%;
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: 100%;
                list-style-type: none;
                transition: all 300ms ease-in-out;
                cursor: pointer;
            }
                #header_menu_list li:hover {
                    background: var(--color-bg);
                    transition: all 300ms ease-in-out;
                }

                .header_menu_list_name {
                    grid-column: 1;
                    grid-row: 1;
                    align-self: center;
                    justify-self: end;
                    font-family: "Grenze", serif;
                    font-size: 1.75rem;
                    color: var(--color-text);
                    text-decoration: none;
                    transition: all 300ms ease-in-out;
                }
                    .header_menu_list_name:visited {
                        color: var(--color-text);
                    }

                    .ionicon {
                        grid-column: 2;
                        grid-row: 1;
                        width: 1.25rem;
                        justify-self: start;
                        align-self: center;
                        color: var(--color-text);
                        transition: all 350ms ease-in-out;
                    }

                #header_menu_list li:hover 
                    > .header_menu_list_name {
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        animation-name: menu-highlight;
                        animation-fill-mode: forwards;
                        animation-duration: 350ms;
                        animation-timing-function: ease-in-out;
                        transition: all 350ms ease-in-out;
                }
                    @keyframes menu-highlight {
                        0% {
                            text-decoration-color: var(--color-accent-primary);
                            text-decoration-thickness: 1px;
                        }
                        65% {
                            text-decoration-color: var(--color-accent-primary);
                            text-decoration-thickness: 3px;
                        }
                        100% {
                            text-decoration-color: var(--color-accent-secondary);
                            text-decoration-thickness: 5px;
                        }
                    }

                #header_menu_list li:hover 
                    > .ionicon {
                        animation-name: icon-highlight;
                        animation-fill-mode: forwards;
                        animation-duration: 350ms;
                        animation-timing-function: ease-in-out;
                }
                    @keyframes icon-highlight {
                        0% {
                        }
                        65% {
                            color: var(--color-accent-primary)
                        }
                        100% {
                            color: var(--color-accent-secondary)
                        }
                    }

        .header_menu_toggle {
            grid-column: 2;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 100%;
            background: transparent;
            align-items: center;
            cursor: pointer;
            transition: background 300ms ease-in-out;
        }
            .header_menu_toggle.resume-hover {
                background: var(--color-bg);
                transition: background 300ms ease-in-out;
            }

            #header_menu_toggle_stroke1 {
                grid-column: 1;
                grid-row: 1;
                width: 1.25rem;
                height: 1.25rem;
                border-left: var(--color-accent-primary) solid 5px;
                border-bottom: transparent solid 5px;
                transform: rotate(45deg);
                transition: all 300ms ease-in-out;
                z-index: 1;
            }
                #header_menu_toggle_stroke1.toggle {
                    border-bottom: transparent solid 0px;
                    transform: rotate(135deg);
                    height: 2rem;
                    margin-top: 1rem;
                    transition: all 550ms ease-in-out;
                }

            #header_menu_toggle_stroke2 {
                grid-column: 1;
                grid-row: 1;
                width: 1.25rem;
                height: 1.25rem;
                border-left: var(--color-accent-secondary) solid 5px;
                border-top: transparent solid 5px;
                transform: rotate(-45deg);
                transition: all 550ms ease-in-out;
                z-index: 0;
            }
                #header_menu_toggle_stroke2.toggle {
                    border-top: transparent solid 0px;
                    transform: rotate(-135deg);
                    height: 2rem;
                    margin-bottom: 0.5rem;
                    transition: all 300ms ease-in-out;
                }


/* --------------------------------------------------------------------- */
/*                            About section                              */
/* --------------------------------------------------------------------- */
::selection {
    background: var(--color-text);
    color: var(--color-bg);
}

.index_about {
    display: inline-block;
    grid-column: 1;
    grid-row: 2;
    padding: 24vh 17vw 20vh 17vw;
    color: var(--color-text);
}

    #index_about_title {
        position: relative;
        font-family: 'Sansita Swashed', cursive;
        font-size: 4rem;
        text-shadow: 5px 5px var(--color-text);
    }

    .index_about_text {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        row-gap: 2rem;
        font-family: 'Grenze', serif;
        font-size: 1.75rem;
    }
    .index_about_text_para1 {
        grid-column: 1;
        grid-row: 1 / 2;        
    }
        #index_about_text_first_letter {
            font-family: 'Sansita Swashed', cursive;
            font-size: 5.5rem;
            color: var(--color-accent-primary);
            margin-top: -1rem;
            margin-bottom: -0.5rem;
            margin-right: 0.5rem;
            float: left;
        }
        #index_about_text_first_letter:hover {
            animation-name: first-letter-wiggle;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: 2;
            animation-play-state: running;
        }

        @keyframes first-letter-wiggle {
            25% {
                transform: rotate(-10deg);
                color: var(--color-accent-secondary)
            }
            
            100% {
                transform: rotate(0deg);
                color: var(--color-accent-primary);
            }
        }

        #index_about_text_para1_tiny1 {
            font-size: 1.5rem;
        }

        #index_about_text_para1_tiny2 {
            font-size: 1.25rem;
        }
    
    .index_about_text_para2 {
        grid-column: 1;
        grid-row: 2 / 3;
    }

    .index_about_text_para3 {
        grid-column: 1;
        grid-row: 3 / 4;
    }

    .index_about_text_para4 {
        grid-column: 1;
        grid-row: 4 / 5;
    }

    .index_about_text p {   /* for observer fade-in reveal */
        transition: opacity 750ms ease-in-out;
    }
    
    .index_about_text a {
        font-style: italic;
        color: var(--color-accent-primary);
        text-decoration: none;
        transition: all 500ms;
    }
        .index_about_text a:visited {
            color: var(--color-accent-primary);
        }
        .index_about_text a:hover {
            background: var(--color-accent-primary);
            color: var(--color-bg);
            transition: all 500ms;
        }
