/* ----------------------------------------------------------------- */
/*                      Portrait view - general                      */
/* ----------------------------------------------------------------- */
@media screen and (orientation: portrait) {
    
    /* ----- Loader start ----- */
    #loading_image {
        align-self: center;
    }
    /* ----- Loader start ----- */

    /* ----- Menu start ----- */
    .header_menu_list_name {
        font-size: 1.5rem;
    }
    /* ----- Menu start ----- */

    .container.show {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .index_cityscape {
        width: 80%;
        height: 90vh;
        margin-top: 3rem;
        padding: 1rem;
    }

    .index_about {
        padding: 20vh 10vw 20vh 10vw;
    }

    .index_about_text {
        font-size: 1.25rem;
    }

    #index_about_text_first_letter {
        font-size: 4.5rem;
        margin-bottom: -1rem;
    }
    
    #index_about_text_para1_tiny1 {
        font-size: 1rem;
    }

    #index_about_text_para1_tiny2 {
        font-size: 0.85rem;
    }
}


/* ----------------------------------------------------------------- */
/*               Portrait view - non-mobile screens                  */
/* ----------------------------------------------------------------- */
@media screen and (orientation: portrait)
    /* and (-webkit-min-device-pixel-ratio: 1.5)  */
    and (min-width: 700px)
    and (max-width: 1200px) {
    
    .index_cityscape {
        width: 70%;
        margin-top: 3rem;
        padding: 2.5rem;
    }
}


/* ----------------------------------------------------------------- */
/*                Portrait view - high-res tablets                   */
/* ----------------------------------------------------------------- */
@media screen
    and (-webkit-min-device-pixel-ratio: 1.5) 
    and (min-width: 700px)
    and (max-width: 1200px) {

    /* ----- Loader ----- */
    #loading_start {
        align-self: flex-start;
    }
    /* ----- Loader ----- */

    /* ----- Menu ----- */
    .header_menu_list_name {
        font-size: 2rem;
    }
    .ionicon {
        width: 1.5rem;
    }
    /* ----- Menu ----- */
    
    .index_about_text {
        font-size: 2rem;
    }

    #index_about_text_first_letter {
        font-size: 6rem;
    }

    #index_about_text_para1_tiny1 {
        font-size: 1.75rem;
    }

    #index_about_text_para1_tiny2 {
        font-size: 1.5rem;
    } 
}


/* ----------------------------------------------------------------- */
/*          Landscape view - under 1920x1080, high-res               */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1.5)
    and (max-width: 1800px) {

    .index_cityscape {
        width: 70%;
        padding: 2rem;
    }

    .index_about {
        padding: 24vh 12vw 20vh 12vw;
    }
}


/* ----------------------------------------------------------------- */
/*            Landscape view - 2560x1440 plus, high-res              */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    /* and (-webkit-min-device-pixel-ratio: 1.5)  */
    and (min-width: 2400px) {

    /* ----- Loader start ----- */
    #loading_image {
        align-self: flex-end;
    }

    #loading_text {
        font-size: 4rem;
        align-self: flex-start;
    }
    /* ----- Loader end ----- */

    /* ----- Menu start ----- */
    .header_menu {
        height: 4rem;
        grid-template-columns: auto 4rem;
    }

    .header_menu_list_name {
        font-size: 2.5rem;
    }

    .ionicon {
        width: 2rem;
    }

    @keyframes menu-highlight {
        0% {
            text-decoration-color: var(--color-accent-primary);
            text-decoration-thickness: 3px;
        }
        65% {
            text-decoration-color: var(--color-accent-primary);
            text-decoration-thickness: 8px;
        }
        100% {
            text-decoration-color: var(--color-accent-secondary);
            text-decoration-thickness: 8px;
        }
    }

    #header_menu_toggle_stroke1 {
        width: 2rem;
        height: 2rem;
        border-left: var(--color-accent-primary) solid 10px;
        border-bottom: transparent solid 10px;
    }
        #header_menu_toggle_stroke1.toggle {
            height: 3rem;
        }
    
    #header_menu_toggle_stroke2 {
        width: 2rem;
        height: 2rem;
        border-left: var(--color-accent-secondary) solid 10px;
        border-top: transparent solid 10px;
    }
        #header_menu_toggle_stroke2.toggle {
            height: 3rem;
            margin-bottom: 1rem;
        }
    /* ----- Menu end ----- */

    .index_cityscape {
        margin-top: 4rem;
    }

    .index_about_text {
        row-gap: 4rem;
        font-size: 3rem;
    }

    #index_about_text_first_letter {
        font-size: 9.5rem;
        margin-top: -2rem;
        margin-bottom: -1rem;
        margin-right: 1rem;
    }
    
    #index_about_text_para1_tiny1 {
        font-size: 2.75rem;
    }

    #index_about_text_para1_tiny2 {
        font-size: 2.25rem;
    }
}


/* ----------------------------------------------------------------- */
/*              Landscape view - 3840x2160, high-res                 */
/* ----------------------------------------------------------------- */
@media screen and (orientation: landscape) 
    /* and (-webkit-min-device-pixel-ratio: 1.5)  */
    and (min-width: 3600px) {
    
    /* ----- Loader start ----- */
    #loading_image {
        align-self: flex-end;
    }

    #loading_text {
        font-size: 4rem;
        align-self: flex-start;
    }
    /* ----- Loader end ----- */

    /* ----- Menu start ----- */
    .header_menu {
        height: 6rem;
        grid-template-columns: auto 6rem;
    }

    .header_menu_list_name {
        font-size: 3.5rem;
    }

    .ionicon {
        width: 2.5rem;
    }

    @keyframes menu-highlight {
        0% {
            text-decoration-color: var(--color-accent-primary);
            text-decoration-thickness: 4px;
        }
        65% {
            text-decoration-color: var(--color-accent-primary);
            text-decoration-thickness: 10px;
        }
        100% {
            text-decoration-color: var(--color-accent-secondary);
            text-decoration-thickness: 10px;
        }
    }

    #header_menu_toggle_stroke1 {
        width: 3rem;
        height: 3rem;
        border-left: var(--color-accent-primary) solid 12px;
        border-bottom: transparent solid 12px;
    }
        #header_menu_toggle_stroke1.toggle {
            height: 4.5rem;
        }
    
    #header_menu_toggle_stroke2 {
        width: 3rem;
        height: 3rem;
        border-left: var(--color-accent-secondary) solid 12px;
        border-top: transparent solid 12px;
    }
        #header_menu_toggle_stroke2.toggle {
            height: 4.5rem;
            margin-bottom: 2rem;
        }
    /* ----- Menu end ----- */

    .index_cityscape {
        margin-top: 6rem;
        border: black double 12px;
        padding: 9rem;
        box-shadow: 2rem 2rem 3rem 0.5rem rgb(0 0 0 / 30%);
    }

    .index_cityscape_layers_bg {
        box-shadow: 0.3rem 0.3rem 0.5rem rgb(0 0 0 / 30%) inset;
    }

    .index_about_text {
        row-gap: 5rem;
        font-size: 5rem;
    }

    #index_about_text_first_letter {
        font-size: 15rem;
        margin-top: -2.5rem;
        margin-bottom: -2rem;
        margin-right: 1rem;
    }
    
    #index_about_text_para1_tiny1 {
        font-size: 4.25rem;
    }

    #index_about_text_para1_tiny2 {
        font-size: 3.5rem;
    }
}
