/* ----------------------------------------------------------------- */
/*                              Landing                              */
/* ----------------------------------------------------------------- */
html {
    height: 220%;
}

body {
    --color-bg: #312c2b;
    --color-accent-primary: rgb(187, 199, 21);
    --color-accent-secondary: rgb(42, 184, 124);
    --color-accent-secondary-dim: rgb(29, 107, 74);
    --color-text: #cdcdcd;
    --color-text-dim: #cdcdcd99;
    --color-text-faded: #cdcdcd06;
    background: var(--color-bg);
    height: 100%;
}

.container {        /* during initial loading screen */
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    animation-name: container-fade-in;
    animation-duration: 2000ms;
}

    @keyframes container-fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

.Index {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    height: 100%;
    display: grid;
    background: var(--color-bg);
    grid-template-columns: 100%;
    grid-template-rows: auto;       /* allows row to grow with zooming effect */
    justify-items: center;
}

    .Index__cityscape {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        display: grid;
        width: 50%;
        height: 100%;      /* sizes the layered images */
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        margin-top: 3rem;
        border: #ffffff double 0.24rem;
        padding: 3rem;
        background: #ffffff;
        justify-items: center;
        /* -------  x      y      blur   spread  colour -------- */
        box-shadow: 0.5rem 0.5rem 0.9rem 0.05rem rgba(0, 0, 0, 0.3);
        transition: all 250ms ease-in-out;
    }
        .Index__cityscape__layers {
            position: relative;
            width: 100%;        /* Fits images into parent div */
            grid-column: 1;
            grid-row: 1;
            align-self: flex-end;
            pointer-events: none;
        }
 
            #layer1 {
                z-index: 11;
            }

            #layer2 {
                z-index: 11;
            }

            #layer3 {
                z-index: 10;
            }

            #layer4 {
                z-index: 9;
            }
            #layer5 {
                z-index: 8;
            }
            
            #layer6 {
                z-index: 7;
            }

            #layer7 {
                z-index: 6;
            }
            
            #layer8 {
                z-index: 5;
            }

            #layer9 {
                z-index: 4;
            }

            #layer10 {
                z-index: 3;
            }

            #layer11 {
                filter: blur(0.06rem);
                z-index: 2;
            }

            #layer12 {
                filter: blur(0.12rem);
                z-index: 1;
            }

            #cityscape-bg {
                grid-column: 1;
                grid-row: 1;
                width: 100%;
                border: solid grey 0.06rem;
                box-shadow: 0.08rem 0.08rem 0.05rem rgb(0 0 0 / 30%) inset;
            }


/* --------------------------------------------------------------------- */
/*                            About section                              */
/* --------------------------------------------------------------------- */
::selection {
    background: var(--color-text);
    color: var(--color-bg);
}

.Index__about {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 85% 15%;
    width: 100%;
    height: 100%;
    padding: 5rem 6rem;
    font-family: 'Grenze', serif;
    color: var(--color-text);
}

    .Index__about__intro {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 90%;
        display: grid;
        justify-self: center;
        grid-template-rows: 40% 60%;
    }

        #greet {
            grid-row: 1 / 2;
            display: flex;
            width: 100%;
            justify-self: center;
            justify-content: flex-end;
            align-items: flex-end;
            font-family: 'IBM Plex Mono', monospace;
            cursor: pointer;
        }          

            #address {
                display: flex;
                text-decoration: none;
                color: var(--color-text);
                font-size: 4rem;
            }   

                #alias {
                    color: var(--color-accent-secondary-dim);
                    animation-name: flicker-alias;
                    animation-duration: 3500ms;
                    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    animation-fill-mode: forwards;
                    animation-iteration-count: infinite;
                }

                @keyframes flicker-alias {
                    0% {
                        color: var(--color-accent-secondary);
                        filter: blur(0.175rem);
                    }

                    5% {
                        color: var(--color-accent-secondary-dim);
                        filter: blur(0.15rem);
                    }

                    10% {
                        color: var(--color-accent-secondary-dim);
                        filter: blur(0.20rem);
                    }

                    13% {
                        color: var(--color-accent-secondary);
                        filter: blur(0.175rem);
                    }

                    15% {
                        color: var(--color-accent-secondary-dim);
                        filter: blur(0.20rem);
                    }   
    
                    17% {
                        color: var(--color-accent-secondary);
                        filter: blur(0.175rem);
                    }
    
                    18% {
                        color: var(--color-accent-secondary-dim);
                        filter: blur(0.175rem);
                    }

                    20% {
                        color: var(--color-accent-secondary);
                        filter: blur(0.15rem);
                    }

                    25% {
                        color: var(--color-accent-secondary-dim);
                        filter: blur(0.125rem);
                    }

                    30% {
                        color: var(--color-accent-secondary);
                        filter: blur(0.135rem);
                    }
    
                    65% {
                        color: var(--color-accent-secondary);
                        filter: blur(0.165rem);
                    }
    
                    75% {
                        color: var(--color-accent-secondary-dim);
                        filter: blur(0.15rem);
                    }
    
                    100% {
                        color: var(--color-accent-secondary);
                        filter: blur(0.175rem);
                    }
                }

                #domain {
                    color: var(--color-text-faded);
                    filter: blur(0.175rem);
                    animation-name: flicker-project-intro;
                    animation-duration: 7500ms;
                    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    animation-fill-mode: forwards;
                    animation-direction: reverse;
                    animation-iteration-count: infinite;
                }

        .Index__about__intro__text {
            width: 60%;
            display: flex;
            font-family: 'Grenze', serif;
            font-size: 2.25rem;
            color: var(--color-text);
            align-items: center;
            justify-self: flex-end;
            text-align: right;
        }

    .Index__about__showcase {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        display: grid;
        grid-template-rows: 40% 60%;
        justify-items: center;
    }

        #project-intro {
            margin-left: 5%;
            align-self: flex-end;
            justify-self: flex-start;
            color: var(--color-text);
            font-size: 4rem;
            font-family: 'IBM Plex Mono', monospace;
            user-select: none;
            animation-name: flicker-project-intro;
            animation-duration: 7500ms;
            animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
        }

        @keyframes flicker-project-intro {
            0% {
                color: var(--color-text);
                filter: blur(0.23rem);
            }

            10% {
                color: var(--color-text-dim);
                filter: blur(0.25rem);
            }

            15% {
                color: var(--color-text);
                filter: blur(0.23rem);
            }

            90% {
                color: var(--color-text);
                filter: blur(0.2rem);
            }
    
            95% {
                color: var(--color-text-dim);
                filter: blur(0.23rem);
            }
            
            100% {
                color: var(--color-text);
                filter: blur(0.25rem);
            }
        }


        #latest-project-video {
            grid-row: 2 / 3;
            width: 90%;
            border-radius: 0.35rem;
            align-self: center;
            justify-self: center;
        }

    .Index__about__links {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        display: grid;
        grid-template-columns: 60% 40%;
        align-content: space-around;
        align-self: baseline;
        row-gap: 1.5rem;
    }

        .Index__about__links__button {
            display: flex;
            background: var(--color-bg);
            border-color: var(--color-text);
            border-style: solid;
            border-width: 0.1rem;
            border-radius: 0.20rem;
            font-family: 'IBM Plex Mono', monospace;
            padding: 0.375rem 0.75rem 0.375rem 0.75rem;
            font-size: 1.275rem;
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
            transition: all 350ms;
            animation-name: fade-in;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
        }
            
            #resume-link-button {
                justify-self: flex-end;
                margin-right: 5%;
            }

            #projects-link-button {
                justify-self: flex-start;
                margin-left: 5%;
            }

            .Index__about__links__button {
                color: var(--color-text);
                text-decoration: none;
                user-select: none;
            }
            
            .Index__about__links__button:visited {
                color: var(--color-text);
            }
                    
            .Index__about__links__button:hover {
                background: var(--color-text);
                border-color: var(--color-bg);
                color: var(--color-bg);
                transition: all 350ms;
            }
        