{% extends "Index/layout.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}       
<section 
    class="Index">
    <div 
        class="Index__cityscape">
        <img 
            src="https://storage.googleapis.com/jn-portfolio/index/images/city01.png"
            class="Index__cityscape__layers dof-deep" 
            id="layer1"
            data-distance="0"
            data-dof="6">
        <img 
            src="https://storage.googleapis.com/jn-portfolio/index/images/city02.png"
            class="Index__cityscape__layers dof-deep" 
            id="layer2"
            data-distance="0" 
            data-dof="6">
        <img 
            src="https://storage.googleapis.com/jn-portfolio/index/images/city03.png"
            class="Index__cityscape__layers dof-deep" 
            id="layer3" 
            data-distance="0"
            data-dof="5">
        <img 
            src="https://storage.googleapis.com/jn-portfolio/index/images/city04.png"
            class="Index__cityscape__layers dof-deep" 
            id="layer4" 
            data-distance="0.15"
            data-dof="5">
        <img 
            src="https://storage.googleapis.com/jn-portfolio/index/images/city05.png"
            class="Index__cityscape__layers dof-deep" 
            id="layer5" 
            data-distance="0.20" 
            data-dof="4">
        <img 
            src="https://storage.googleapis.com/jn-portfolio/index/images/city06.png"
            class="Index__cityscape__layers dof-deep" 
            id="layer6" 
            data-distance="0.25"
            data-dof="4">
        <img 
            src="https://storage.googleapis.com/jn-portfolio/index/images/city07.png"
            class="Index__cityscape__layers dof-deep" 
            id="layer7" 
            data-distance="0.30" 
            data-dof="3">
        <img 
            src="https://storage.googleapis.com/jn-portfolio/index/images/city08.png"
            class="Index__cityscape__layers dof-deep" 
            id="layer8" 
            data-distance="0.35" 
            data-dof="3">
        <img
            src="https://storage.googleapis.com/jn-portfolio/index/images/city09.png"
            class="Index__cityscape__layers dof-deep" 
            id="layer9" 
            data-distance="0.50" 
            data-dof="3">
        <img 
            src="https://storage.googleapis.com/jn-portfolio/index/images/city10.png"
            class="Index__cityscape__layers dof-deep" 
            id="layer10" 
            data-distance="0.70"
            data-dof="2">
        <img 
            src="https://storage.googleapis.com/jn-portfolio/index/images/city11.png"
            class="Index__cityscape__layers dof-deep" 
            id="layer11" 
            data-distance="0.80" 
            data-dof="2">
        <img 
            src="https://storage.googleapis.com/jn-portfolio/index/images/city12.png"
            class="Index__cityscape__layers dof-deep" 
            id="layer12" 
            data-distance="1" 
            data-dof="1">
        <div 
            id="cityscape-bg">
        </div>
    </div>


    <div 
        class="Index__about" id="about">
        <div 
            class="Index__about__intro">
            <span
                id="greet">
                <span
                    id="contact-text">
                    contact:
                </span>
                <a 
                    id="address" 
                    href="mailto:hi@jeanings.space">
                    <span
                        id="alias">
                        hi
                    </span>
                    <span
                        id="domain">
                        @jeanings.space
                    </span>
                </a>
            </span>
            <p
                class="Index__about__intro__text">
            
            </p>
        </div>

        <div
            class="Index__about__showcase">
            <span
                id="project-intro">
                latest project
            </span>

            <video 
                id="latest-project-video"
                poster="{{ latest_project.thumb }}"
                muted
                autoplay
                loop>
                <source
                    id="latest-project-src"
                    src="{{ latest_project.demo }}"
                    type="video/webm"
                    data-project-id="{{ latest_project._id }}">
            </video>
        </div>

        <div
            class="Index__about__links"
            id="link-buttons">
            
            <button
                class="Index__about__links__button"
                id="resume-link-button">
                <a 
                    href="/resume" 
                    target="_blank">
                    cv
                </a>
            </button>

            <button
                class="Index__about__links__button"
                id="projects-link-button">
                <a 
                    href="/projects" 
                    target="_blank">
                    info
                </a>
            </button>
        </div>

    </div>
</section>
{% endblock %}